
 #background 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 1000px;
	 height: 1600px; 
	 overflow: hidden;
	 z-index:0;
	 
	} 

 
	

 #Layer7copy 
{ 
	 left: 74px; 
	 top: 0px; 
	 position: absolute; 
	 width: 870px;
	 height: 719px;
	 z-index:41;
} 

 #Layer12 
{ 
	 left: 202px; 
	 top: 13px; 
	 position: absolute; 
	 width: 198px;
	 height: 199px;
	 z-index:42;
} 

 #layer_33 
{ 
	 left: 619px; 
	 top: 160px; 
	 position: absolute; 
	 width: 157px;
	 height: 21px;
	 z-index:43;
	 font-family: 'Open Sans', sans-serif;
	font-size:20px;
	color:#246a77;
}
 #layer_33 > strong 
{ 
  font-size: 30px;	
	font-weight: normal;
}


 

 #layer_150 
{
	left: 600px;
	top: 105px;
	position: absolute;
	width: 148px;
	height: 21px;
	z-index:45;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	color:#246a77;
} 
 #layer_150 > strong 
{
 font-size: 30px;
	font-weight: normal;
} 


 #newborns 
{
	left: 469px;
	top: 110px;
	position: absolute;
	width: 150px;
	height: 21px;
	z-index:46;
	font-family: 'Open Sans', sans-serif;
	font-size:24px;
	color:#333;
}
#children 
{
	left: 469px;
	top: 165px;
	position: absolute;
	width: 150px;
	height: 21px;
	z-index:46;
	font-family: 'Open Sans', sans-serif;
	font-size:24px;
	color:#333;
} 

 #layer_50 
{
	left: 580px;
	top: 45px;
	position: absolute;
	width: 39px;
	height: 26px;
	z-index:47;
	font-family: 'Open Sans', sans-serif;
	font-size:30px;
	color:#246a77;
} 

 #deathsreported 
{
	left: 467px;
	top: 50px;
	position: absolute;
	width: 289px;
	height: 37px;
	z-index:48;
	font-family: 'Open Sans', sans-serif;
	font-size:22px;
	color:#333;
}

#childdeaths 
{
	left: 467px;
	top: 0px;
	position: absolute;
	width: 289px;
	height: 37px;
	z-index:48;
	font-family: 'Open Sans', sans-serif;
	font-size:28px;
	color:#333;
}

 #deathimg 
{ 
	 left: 232px; 
	 top: 34px; 
	 position: absolute; 
	 width: 142px;
	 height: 139px;
	 z-index:49;
} 

 #childGraph 
{ 
	 left: 102px; 
	 top: 325px; 
	 position: absolute; 
	 width: 800px;
	 height: 220px;
	 z-index:50;
} 

 #DeathHistory 
{
	left: 354px;
	top: 275px;
	position: absolute;
	width: 776px;
	height: 27px;
	z-index:51;
	font-family:"Open Sans";
	font-size:26px;
	color:#333;
} 

 #Locationcopy 
{
	left: 422px;
	top: 542px;
	position: absolute;
	width: 143px;
	height: 27px;
	z-index:52;
	
	 font-family: 'Open Sans', sans-serif;
	font-weight:normal;
	font-size: 20px;
} 

 #Hospitalimg 
{ 
	 left: 469px; 
	 top: 582px; 
	 position: absolute; 
	 width: 102px;
	 height: 102px;
	 z-index:53;
} 

 #homeimg 
{ 
	 left: 185px; 
	 top: 585px; 
	 position: absolute; 
	 width: 102px;
	 height: 103px;
	 z-index:54;
} 

 #OnRouteimg 
{ 
	 left: 615px; 
	 top: 583px; 
	 position: absolute; 
	 width: 103px;
	 height: 104px;
	 z-index:55;
} 

 #clinicimg 
{ 
	 left: 329px; 
	 top: 583px; 
	 position: absolute; 
	 width: 105px;
	 height: 105px;
	 z-index:56;
} 

 
 #layer_121 
{ 
	 left: 212px; 
	 top: 691px; 
	 position: absolute; 
	 width: 39px;
	 height: 22px;
	 z-index:61;
	font-family: 'Open Sans', sans-serif;
	font-size:24px;
	color:#a4b609;
	
} 

 #layer_96 
{ 
	 left: 370px; 
	 top: 692px; 
	 position: absolute; 
	 width: 28px;
	 height: 22px;
	 z-index:62;
	 font-family: 'Open Sans', sans-serif;
	font-size:24px;
	color:#0b8127;
} 

 #layer_73 
{ 
	 left: 507px; 
	 top: 690px; 
	 position: absolute; 
	 width: 28px;
	 height: 22px;
	 z-index:63;
	  font-family: 'Open Sans', sans-serif;
	font-size:24px;
	color:#0b1381;
} 

 #layer_7 
{ 
	 left: 661px; 
	 top: 692px; 
	 position: absolute; 
	 width: 12px;
	 height: 22px;
	 z-index:64;
	  font-family: 'Open Sans', sans-serif;
	font-size:24px;
	color:#727d7b;
} 

 #Layer7copy_0 
{ 
	 left: 72px; 
	 top: 740px; 
	 position: absolute; 
	 width: 872px;
	 height: 523px;
	 z-index:65;
} 

 #deathbg 
{ 
	 left: 173px; 
	 top: 724px; 
	 position: absolute; 
	 width: 827px;
	 height: 250px;
	 z-index:66;
} 

 #layer_33_0 
{ 
	 left: 600px; 
	 top: 900px; 
	 position: absolute; 
	 width: 57px;
	 height: 21px;
	 z-index:67;
	font-family: 'Open Sans', sans-serif;
	font-size:35px;
	color:#ef4545;;
} 

 #percentage_0 
{ 
	 left: 457px; 
	 top: 908px; 
	 position: absolute; 
	 width: 155px;
	 height: 28px;
	 z-index:68;
	 
	font-family: 'Open Sans', sans-serif;
	font-size:24px;
	color:#333;

} 

 #layer_150_0 
{ 
	 left: 600px; 
	 top: 840px; 
	 position: absolute; 
	 width: 48px;
	 height: 21px;
	 z-index:69;
	  font-family: 'Open Sans', sans-serif;
	font-size:35px;
	color:#ef4545;
	 
} 

 #pregnancies 
{ 
	 left: 457px; 
	 top: 845px; 
	 position: absolute; 
	 width: 167px;
	 height: 28px;
	 z-index:70;
	  font-family: 'Open Sans', sans-serif;
	font-size:24px;
	color:#333;
} 

 #layer_50_0 
{
	left: 580px;
	top: 770px;
	position: absolute;
	width: 39px;
	height: 26px;
	z-index:71;
	font-family: 'Open Sans', sans-serif;
	font-size:35px;
	color:#ef4545;
} 

 #deathreported 
{ 
	 left: 457px; 
	 top: 775px; 
	 position: absolute; 
	 width: 289px;
	 height: 37px;
	 z-index:72;
	 
	 font-family: 'Open Sans', sans-serif;
	font-size:24px;
	color:#333;
}
 #pregnancydeaths
{ 
	 left: 457px; 
	 top: 735px; 
	 position: absolute; 
	 width: 289px;
	 height: 37px;
	 z-index:72;
	 font-family: 'Open Sans', sans-serif;
	font-size:24px;
	color:#333;
}

 #deathimg_0 
{ 
	 left: 205px; 
	 top: 771px; 
	 position: absolute; 
	 width: 142px;
	 height: 139px;
	 z-index:73;
} 

 #graph 
{ 
	 left: 117px; 
	 top: 954px; 
	 position: absolute; 
	 width: 776px;
	 height: 276px;
	 z-index:74;
} 

 #Layer7copy_1 
{ 
	 left: 71px; 
	 top: 1275px; 
	 position: absolute; 
	 width: 873px;
	 height: 200px;
	 z-index:75;
} 

 #Location 
{
	left: 407px;
	top: 1279px;
	position: absolute;
	width: 143px;
	height: 27px;
	z-index:76;
	font-family: 'Open Sans', sans-serif;
	font-weight:normal;
	font-size: 20px;
} 

 #Hospital 
{ 
	 left: 469px; 
	 top: 1327px; 
	 position: absolute; 
	 width: 102px;
	 height: 102px;
	 z-index:77;
} 

 #homeimg_0 
{ 
	 left: 185px; 
	 top: 1330px; 
	 position: absolute; 
	 width: 102px;
	 height: 102px;
	 z-index:78;
} 

 #OnRoute 
{ 
	 left: 615px; 
	 top: 1328px; 
	 position: absolute; 
	 width: 103px;
	 height: 104px;
	 z-index:79;
} 

 #clinicimg_0 
{ 
	 left: 329px; 
	 top: 1328px; 
	 position: absolute; 
	 width: 105px;
	 height: 105px;
	 z-index:80;
} 


 #layer_94 
{ 
	 left: 223px; 
	 top: 1441px; 
	 position: absolute; 
	 width: 28px;
	 height: 22px;
	 z-index:85;
	 font-family: 'Open Sans', sans-serif;
	font-size:24px;
	color:#a4b609;
} 

 #layer_131 
{ 
	 left: 360px; 
	 top: 1443px; 
	 position: absolute; 
	 width: 39px;
	 height: 22px;
	 z-index:86;
	 font-family: 'Open Sans', sans-serif;
	font-size:24px;
	color:#0b8127;
} 

 #layer_69 
{ 
	 left: 508px; 
	 top: 1441px; 
	 position: absolute; 
	 width: 27px;
	 height: 22px;
	 z-index:87;
	  font-family: 'Open Sans', sans-serif;
	font-size:24px;
	color:#0b1381;
} 

 #layer_4 
{ 
	 left: 665px; 
	 top: 1439px; 
	 position: absolute; 
	 width: 13px;
	 height: 22px;
	 z-index:88;
	  font-family: 'Open Sans', sans-serif;
	font-size:24px;
	color:#727d7b;
} 


