


 #background2 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 1000px;
	 height:2000px;
	 overflow: hidden;
	 z-index:2;
	}


 #Layer7copy 
{ 
	 left: 65px; 
	 top: 20px; 
	 position: absolute; 
	 width: 857px;
	 height: 516px;
	 z-index:2;
}

 #Layer7copy_0 
{ 
	 left: 63px; 
	 top: 787px; 
	 position: absolute; 
	 width: 857px;
	 height: 272px;
	 z-index:3;
} 



 #Layer1copy 
{ 
	background: url(../../images/pregnancy/banner_background1.png) repeat-x;
	 left: 0px; 
	 top: 0px; 
	 position: absolute; 
	 width: 100%;
	 height: 44px;
	 z-index:3;
	border-radius:5px;
} 

 #Layer1 
{ 
	 left: 0px; 
	 top: 0px; 
	background-color: #fff;
	 position: absolute; 
	 width: 50%;
	opacity: 0.5;
	 height: 44px;
	 z-index:4;
} 

 #PregnanciesConfirmed1
{ 
	 left: 0px; 
	 top: 10px; 
	 position: absolute; 
	 width: 50%;
	 height: 18px;
	 z-index:5;
	font-family: 'Open Sans', sans-serif;
	font-weight:lighter;
	font-size: 20px;
	text-align: center;
} 

 #PregnanciesConfirmed1:hover
{ 
	color: #fff;
	cursor: pointer;
}

 #ExpectedDeliveries 
{ 
	 left: 687px; 
	 top: 15px; 
	 position: absolute; 
	 width: 359px;
	 height: 18px;
	 z-index:5;
	font-family: 'Open Sans', sans-serif;
	font-weight:lighter;
	font-size: 20px;
}

 #ExpectedDeliveries:hover
{ 
	color: #fff;
	cursor: pointer;
}


/*********************************/

 #pregnancies 
{ 
	 left: 262px; 
	 top: 50px; 
	 position: absolute; 
	 width: 83px;
	 height: 163px;
	 z-index:9;
} 

 #Pregnanciesconfirmed 
{ 
	 left: 560px; 
	 top: 120px; 
	 position: absolute; 
	 width: 320px;
	 height: 53px;
	 z-index:10;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
} 

 #Pregnanciesconfirmed_0 
{ 
	 left: 376px; 
	 top: 101px; 
	 position: absolute; 
	 width: 118px;
	 height: 44px;
	 z-index:11;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: #f79242;
} 

 #layer_150 
{ 
	 left: 393px; 
	 top: 157px; 
	 position: absolute; 
	 width: 62px;
	 height: 28px;
	 z-index:12;
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	font-weight:bold;
}
#layer_150 > a
{
	color:#493913;
}


/***************************************/
 #VectorSmartObject 
{ 
	 left: 112px; 
	 top: 347px; 
	 position: relative; 
	 width: 140px;
	 height: 140px;
	 z-index:3;
} 

 #risks69 
{ 
	
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	font-size: 16px;
} 

 #risks78 
{ 
	 left: 640px; 
	 top: 443px; 
	 position: relative; 
	 width: 150px;
	 height: 27px;
	 z-index:4;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	font-size: 25px;
	
	
} 

 #numberofmotherpr 
{ 
	 left: 650px; 
	 top: 430px; 
	 position: relative; 
	 width: 494px;
	 height: 19px;
	 z-index:4;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	font-size: 19px;
	color: #fff;
	
	
} 

 #risks66 
{ 
	  
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	font-size: 16px;
} 

 #risks65 
{ 
	 left: 540px; 
	 top: 445px; 
	 position: relative; 
	 width: 159px;
	 height: 28px;
	 z-index:4;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	font-size: 25px;
} 

 #numberofmotherswell 
{ 
	 left: 515px; 
	 top: 430px; 
	 position: relative; 
	 width: 348px;
	 height: 20px;
	 z-index:4;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	font-size: 19px;
	color: #FFF;
} 

 #Layer2 
{ 
	 left: 487px; 
	 top: 270px; 
	 position: relative; 
	 width: 128px;
	 height: 129px;
	 z-index:3;
} 

 #Layer1copy_0 
{ 
	 left: 250px; 
	 top: 190px; 
	 position: relative; 
	 width: 129px;
	 height: 129px;
	 z-index:3;
} 

 #ReportedRisks 
{ 
	 left: 320px; 
	 top: 150px; 
	 position: relative; 
	 width: 107px;
	 height: 17px;
	 z-index:3;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	font-size: 15px;
	color: #fff;
} 

 #layer_129 
{ 
	 left: 310px; 
	 top: 150px; 
	 position: relative; 
	 width: 110px;
	 height: 27px;
	 z-index:3;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	font-size: 35px;
	text-align:center;
	
} 

 #layer_89 
{ 
	 left: 320px; 
	 top: 170px; 
	 position: relative; 
	 width: 100px;
	 height: 14px;
	 z-index:3;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	font-size: 20px;
	text-align:center;
	
} 

 #ResultsReported 
{ 
	 left: 570px; 
	 top: 30px; 
	 position: relative; 
	 width: 115px;
	 height: 16px;
	 z-index:3;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	font-size: 14px;
	color: #fff;
} 

 #layer_89_0 
{ 
	 left: 550px; 
	 top: 30px; 
	 position: relative; 
	 width: 110px;
	 height: 27px;
	 z-index:3;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	font-size: 35px;
	text-align:center;
} 

 #layer_75 
{ 
	 left: 570px; 
	 top: 45px; 
	 position: relative; 
	 width: 100px;
	 height: 14px;
	 z-index:3;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	font-size: 20px;
	text-align:center;
} 

 #lmpgraph 
{ 
	  
	 top: 271px; 
	 position: relative; 
	 width: 40%;
	 padding-left:50px;
	 float:left;
	 height: 220px;
	 z-index:3;
} 

 #monthlyavggrph 
{ 
	 
	 top: 271px; 
	 position: relative; 
	 width: 40%;
	float:left;
	 height: 241px;
	 z-index:3;
	padding-left:10px;
} 

 #LMPinrelativetopregn 
{ 
	 
	top: 10px; 
	position: relative; 
	width: 50%;
	float:left;
	text-align: center;
	height: 17px;
	z-index:3;
	font-family: 'Open Sans', sans-serif;
	font-weight:lighter;
	font-size: 18px;
	color: #f79242;
} 

 #MonthlyPregnancyAvg9 
{ 
	  
	top: 10px; 
	position: relative; 
	width: 50%;
	float:right;
	text-align: center;
	height: 24px;
	z-index:3;
	font-family: 'Open Sans', sans-serif;
	font-weight:lighter;
	font-size: 14px;
	text-align: left;
	color: #f79242;
}
 #MonthlyPregnancyAvg9 > strong 
{ 
	color: #000;
	font-weight:normal;
	padding-left: 10px;
		
} 






/*********************/

 #Layer3 
{ 
	 left: 395px; 
	 top: 196px; 
	 position: relative; 
	 width: 67px;
	 height: 77px;
	 z-index:3;
} 

 #Layer1copy_1 
{ 
	 left: 468px; 
	 top:120px; 
	 position: relative; 
	 width: 68px;
	 height: 78px;
	 z-index:3;
} 

 #Layer1copy2 
{ 
	 left: 541px; 
	 top: 45px; 
	 position: relative; 
	 width: 68px;
	 height: 77px;
	 z-index:3;
} 

 #Layer1copy6 
{ 
	 left: 613px; 
	 top: -31px; 
	 position: relative; 
	 width: 67px;
	 height: 77px;
	 z-index:3;
} 

 #Layer1copy7 
{ 
	 left: 650px; 
	 top: -42px; 
	 position: relative; 
	 width: 67px;
	 height: 77px;
	 z-index:3;
} 

 #Layer1copy8 
{ 
	 left: 686px; 
	 top: -180px; 
	 position: relative; 
	 width: 68px;
	 height: 77px;
	 z-index:3;
} 

 #Layer1copy3 
{ 
	 left: 431px; 
	 top: -205px; 
	 position: relative; 
	 width: 68px;
	 height: 78px;
	 z-index:3;
}

 #Layer1copy31
{ 
	 left: 300px; 
	 top: -205px; 
	 position: absolute; 
	 width: 68px;
	 height: 78px;
	 z-index:4;
}

 #Layer1copy4 
{ 
	 left: 504px; 
	 top: -280px; 
	 position: relative; 
	 width: 68px;
	 height: 78px;
	 z-index:3;
} 

 #Layer1copy5 
{ 
	 left: 577px; 
	 top: -355px; 
	 position: relative; 
	 width: 67px;
	 height: 78px;
	 z-index:3;
} 

 #Layer1copy9 
{ 
	 left: 720px; 
	 top: -428px; 
	 position: relative; 
	 width: 68px;
	 height: 77px;
	 z-index:3;
} 

 #Layer1copy10 
{ 
	 left: 757px; 
	 top: -566px; 
	 position: relative; 
	 width: 67px;
	 height: 77px;
	 z-index:3;
} 

 #Layer1copy11 
{ 
	 left: 829px; 
	 top: -639px; 
	 position: relative; 
	 width: 67px;
	 height: 77px;
	 z-index:3;
} 

 #Layer1copy12 
{ 
	 left: 792px; 
	 top: -656px; 
	 position: relative; 
	 width: 67px;
	 height: 77px;
	 z-index:3;
}
#Layer1copy12:hover
{
alpha: 0.6;
}

 #Layer1copy13 
{ 
	 left: 360px; 
	 top: -746px; 
	 position: relative; 
	 width: 284px;
	 height: 144px;
	 z-index:3;
} 

 #COUGHING24 
{ 
	 left: 396px; 
	 top: -937px; 
	 position: relative; 
	 width: 63px;
	 height: 45px;
	 z-index:3;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size: 12px;
}
#COUGHING24 > strong
{
	margin-left: 20px;
	font-size: 20px
}
 #COUGHING24:hover
{ 
	color:#fff;
	cursor:pointer;
}

 #DIARRHEA33 
{ 
	 left: 469px; 
	 top: -980px; 
	 position: relative; 
	 width: 59px;
	 height: 49px;
	 z-index:3;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size: 11px;
} 
#DIARRHEA33 > strong
{
	margin-left: 20px;
	font-size: 20px
}
 #DIARRHEA33:hover
{ 
	color:#fff;
	cursor:pointer;
}
 #FEVER12 
{ 
	 left: 555px; 
	 top: -1030px; 
	 position: relative; 
	 width: 36px;
	 height: 49px;
	 z-index:3;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size: 12px;
}
#FEVER12 > strong
{
	margin-left: 10px;
	font-size: 20px
}	
 #FEVER12:hover
{ 
	color:#fff;
	cursor:pointer;
}
 #MALARIA09 
{ 
	 left: 437px; 
	 top: -1020px; 
	 position: relative; 
	 width: 53px;
	 height: 49px;
	 z-index:3;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size: 12px;
}
#MALARIA09 > strong
{
	margin-left: 20px;
	font-size: 20px
}
 #MALARIA09:hover
{ 
	color:#fff;
	cursor:pointer;
}
 #VOMITING18 
{ 
	 left: 507px; 
	 top: -1065px; 
	 position: relative; 
	 width: 59px;
	 height: 49px;
	 z-index:3;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size: 12px;
}
#VOMITING18 > strong
{
	margin-left: 20px;
	font-size: 20px
}
 #VOMITING18:hover
{ 
	color:#fff;
	cursor:pointer;
}
 #STILLBORN21 
{ 
	 left: 577px; 
	 top: -1110px; 
	 position: relative; 
	 width: 65px;
	 height: 48px;
	 z-index:3;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size: 12px;
}
#STILLBORN21 > strong
{
	margin-left: 20px;
	font-size: 20px
}
 #STILLBORN21:hover
{ 
	color:#fff;
	cursor:pointer;
}
 #EDEMA13 
{ 
	 left: 624px; 
	 top: -1220px; 
	 position: relative; 
	 width: 42px;
	 height: 49px;
	 z-index:3;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size: 12px;
}
#EDEMA13 > strong
{
	margin-left: 10px;
	font-size: 20px
}
 #EDEMA13:hover
{ 
	color:#fff;
	cursor:pointer;
}

 #PNEUMONIA21 
{ 
	 left: 685px; 
	 top: -1260px; 
	 position: relative; 
	 width: 72px;
	 height: 48px;
	 z-index:3;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size: 10px;
}
#PNEUMONIA21 > strong
{
	margin-left: 20px;
	font-size: 20px
}
 #PNEUMONIA21:hover
{ 
	color:#fff;
	cursor:pointer;
}
 #NECKSTIFFNESS 
{ 
	 left: 368px; 
	 top: -1300px; 
	 position: relative; 
	 width: 48px;
	 height: 44px;
	 z-index:3;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size: 12px;
}
#NECKSTIFFNESS > strong
{
	margin-left: 15px;
	font-size: 20px
}
 #NECKSTIFFNESS:hover
{ 
	color:#fff;
	cursor:pointer;
}

 #NOPROBLEM 
{ 
	 left: 150px; 
	 top: -1200px; 
	 position: relative; 
	 width: 200px;
	 height: 44px;
	 z-index:3;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size: 20px;
}

#motherssympotmpic 
{ 
	 left: 174px; 
	 top: -1390px; 
	 position: relative; 
	 width: 185px;
	 height: 98px;
	 z-index:3;
} 
 #MothersSymptoms 
{ 
	 left: 186px; 
	 top: -1450px; 
	 position: relative; 
	 width: 137px;
	 height: 61px;
	 z-index:3;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size: 25px;
} 



/********************************/

 #handwashpic 
{ 
	 left: 232px; 
	 top: -1190px; 
	 position: relative; 
	 width: 89px;
	 height: 90px;
	 z-index:3;
} 

 #handwashfacilities 
{ 
	 left: 192px; 
	 top: -1331px; 
	 position: relative; 
	 width: 286px;
	 height: 25px;
	 z-index:3;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	font-size: 20px;
} 

 #layer_12289 
{ 
	 left: 340px; 
	 top: -1296px; 
	 position: relative; 
	 width: 127px;
	 height: 31px;
	 z-index:3;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	font-size: 18px;
}
 #layer_12289>strong
{ 
	font-weight: lighter;
	font-size: 45px; 
} 

 #layer_10985 
{ 
	 left: 712px; 
	 top: -1330px; 
	 position: relative; 
	 width: 126px;
	 height: 31px;
	 z-index:3;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	font-size: 18px;
}
#layer_10985 > strong
{ 
	font-weight: lighter;
	font-size: 45px; 
} 

 #ToiletFacilities 
{ 
	 left: 633px; 
	 top: -1416px; 
	 position: relative; 
	 width: 214px;
	 height: 25px;
	 z-index:3;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	font-size: 20px;
} 

 #Availabilityof 
{ 
	 left: 440px; 
	 top: -1490px; 
	 position: relative; 
	 width: 213px;
	 height: 33px;
	 z-index:3;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 25px;
} 

 #toiletpic 
{ 
	 left: 591px; 
	 top: -1430px; 
	 position: relative; 
	 width: 102px;
	 height: 102px;
	 z-index:3;
	
}
/***********************************/
 #Layer7copy_1 
{ 
	 left: 65px; 
	 top: 1342px; 
	 position: absolute; 
	 width: 857px;
	 height: 194px;
	 z-index:2;
}

 #LESSTHAN1990 
{ 
	 left: 167px; 
	 top: 1377px; 
	 position: absolute; 
	 width: 129px;
	 height: 129px;
	 z-index:4;

} 

 #MORETHE2521 
{ 
	 left: 455px; 
	 top: 1389px; 
	 position: absolute; 
	 width: 129px;
	 height: 129px;
	 z-index:4;
} 

 #MORETHAN25 
{ 
	 left: 466px; 
	 top: 1430px; 
	 position: absolute; 
	 width: 112px;
	 height: 12px;
	 z-index:4;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	color:#fff;
} 

 #layer_21 
{ 
	 left: 480px; 
	 top: 1459px; 
	 position: absolute; 
	 width: 40px;
	 height: 31px;
	 z-index:4;
	font-family: 'Open Sans', sans-serif;
	font-weight:lighter;
	font-size: 30px;
	color:#fff;
} 

 #LESSTHAN19 
{ 
	 left: 176px; 
	 top: 1425px; 
	 position: absolute; 
	 width: 101px;
	 height: 12px;
	 z-index:4;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	color:#fff;
} 

 #layer_90 
{ 
	 left: 190px; 
	 top: 1455px; 
	 position: absolute; 
	 width: 46px;
	 height: 31px;
	 z-index:4;
	font-family: 'Open Sans', sans-serif;
	font-weight:lighter;
	font-size: 30px;
	color:#fff;
}
 #layer_90:hover 
{ 
 color: #dc5f71;
} 

 #BMI 
{ 
	 left: 289px; 
	 top: 1352px; 
	 position: absolute; 
	 width: 174px;
	 height: 174px;
	 z-index:4;
} 

 #BMIBODYMASSINDEXismo 
{ 
	 left: 598px; 
	 top: 1427px; 
	 position: absolute; 
	 width: 275px;
	 height: 44px;
	 z-index: 4;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	font-size: 15px;
	
}

#pregnantmothers
{
	display: none;
}


/********************************/
 #Layer16 
{ 
	 left: 168px; 
	 top: 1621px; 
	 position: absolute; 
	 width: 582px;
	 height: 218px;
	 z-index:61;
} 

 #Layer17 
{ 
	background-color: #25eda9;
	 left: 311px; 
	 top: 1725px; 
	 position: absolute; 
	 width: 88px;
	 height: 100px;
	 z-index:62;
} 

 #Layer18 
{ 
	 left: 432px; 
	 top: 1787px; 
	 position: absolute; 
	 width: 88px;
	 height: 36px;
	 z-index:63;
} 

 #Lessthan2KGs 
{ 
	 left: 174px; 
	 top: 1720px; 
	 position: absolute; 
	 width: 100px;
	 height: 9px;
	 z-index:64;
	font-family: 'Open Sans', sans-serif;
	font-weight:normal;
	font-size: 12px;
}

 #Lessthan2KGs > strong
{
	font-size: 20px;
}

 #kgs23 
{ 
	 left: 328px; 
	 top: 1665px; 
	 position: absolute; 
	 width: 149px;
	 height: 9px;
	 z-index:65;
	font-family: 'Open Sans', sans-serif;
	font-weight:normal;
	font-size: 12px;
}

 #kgs23 > strong
{
	font-size: 20px;
}

 #Morethan2KGs 
{ 
	 left: 431px; 
	 top: 1740px; 
	 position: absolute; 
	 width: 120px;
	 height: 9px;
	 z-index:66;
	font-family: 'Open Sans', sans-serif;
	font-weight:normal;
	font-size: 12px;
}
 #Morethan2KGs > strong
{
	font-size: 18px;
}

 #layer_2315 
{ 
	 left: 180px; 
	 top: 1781px; 
	 position: absolute; 
	 width: 76px;
	 height: 22px;
	 z-index:67;
	font-family: 'Open Sans', sans-serif;
	font-weight:normal;
	font-size: 18px;
	color:#fff;
}
 #layer_2315 > strong
{ 
	font-size: 28px;
}

 #layer_11477 
{ 
	 left: 330px; 
	 top: 1743px; 
	 position: absolute; 
	 width: 43px;
	 height: 38px;
	 z-index:68;
	font-family: 'Open Sans', sans-serif;
	font-weight:normal;
	font-size: 18px;
	color:#fff;	
}
#layer_11477 > strong 
{ 
	font-size: 25px;
} 

 #Weightcomparisions 
{ 
	 left: 276px; 
	 top: 1627px; 
	 position: absolute; 
	 width: 213px;
	 height: 21px;
	 z-index:69;
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
	font-size: 20px;
} 

 #layer_188 
{ 
	 left: 445px; 
	 top: 1785px; 
	 position: absolute; 
	 width: 86px;
	 height: 22px;
	 z-index:70;
	font-family: 'Open Sans', sans-serif;
	font-weight:normal;
	font-size: 18px;
	color:#fff;	
}
#layer_188 > strong 
{ 
	font-size: 25px;
} 

 #Childwieghtismonitor 
{ 
	 left: 548px; 
	 top: 1728px; 
	 position: absolute; 
	 width: 301px;
	 height: 92px;
	 z-index:71;
	font-family: 'Open Sans', sans-serif;
	font-weight:normal;
	font-size: 15px;
}