table{
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
}

td{
	text-align: center;
}

tr:hover {
	background: #5bb8f9;
	cursor: pointer;
}

button{
	float: right;
	cursor: pointer;
	color: #FFFFFF;
  	border:1px solid #34740e;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 10px 10px 10px 10px;
 	background-color: #5fdcd6;
 	background-image: -webkit-gradient(linear, left top, left bottom, from(#5fdcd6), to(#014b8b));
 	background-image: -webkit-linear-gradient(top, #5fdcd6, #014b8b);
 	background-image: -moz-linear-gradient(top, #5fdcd6, #014b8b);
 	background-image: -ms-linear-gradient(top, #5fdcd6, #014b8b);
 	background-image: -o-linear-gradient(top, #5fdcd6, #014b8b);
 	background-image: linear-gradient(to bottom, #5fdcd6, #014b8b);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#5fdcd6, endColorstr=#014b8b);
	
}