 #background2 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 1000px;
	 height: 1700px; 
	 overflow: hidden;
	 z-index:0;
	} 

 #Layer1copy 
{ 
	background: url(../../images/nutrition/banner_background.png) repeat-x;
	 left: 0px; 
	 top: 0px; 
	 position: absolute; 
	 width: 100%;
	 height: 230px;
	 z-index:2;
} 

 #Layer1copy2 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: absolute; 
	 width: 999px;
	 height: 271px;
	 z-index:3;
} 

 #Layer1 
{ 
	 left: 137px; 
	 top: 157px; 
	 position: absolute; 
	 width: 119px;
	 height: 28px;
	 z-index:4;
} 

 #ObservingMotherandCh 
{ 
	 left: 386px; 
	 top: 83px; 
	 position: absolute; 
	 width: 233px;
	 height: 105px;
	 z-index:5;
} 

 #VectorSmartObject 
{ 
	 left: 741px; 
	 top: 77px; 
	 position: absolute; 
	 width: 137px;
	 height: 143px;
	 z-index:6;
} 


/*********************************************/
 #ccmvcmrcopy2 
{ 
	 left: 145px; 
	 top: 10px; 
	 position: absolute; 
	 width: 752px;
	 height: 285px;
	 z-index:3;
}

 #breastfeedingtitle 
{ 
	 left: 400px; 
	 top: 10px; 
	 position: absolute; 
	 width: 307px;
	 height: 41px;
	 z-index:43;
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
}
 #VectorSmartObject_0 
{ 
	 left: 173px; 
	 top: 58px; 
	 position: absolute; 
	 width: 193px;
	 height: 105px;
	 z-index:48;
} 

 #childbeingbreastfeed 
{ 
	 left: 178px; 
	 top: 74px; 
	 position: absolute; 
	 width: 117px;
	 height: 63px;
	 z-index:49;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	
} 

 #layer_118 
{ 
	 left: 269px; 
	 top: 129px; 
	 position: absolute; 
	 width: 70px;
	 height: 31px;
	 z-index:50;
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
} 

 #Childnotbebreastfeed 
{ 
	 left: 406px; 
	 top: 58px; 
	 position: absolute; 
	 width: 193px;
	 height: 105px;
	 z-index:51;
} 

 #layer_34 
{ 
	 left: 523px; 
	 top: 110px; 
	 position: absolute; 
	 width: 55px;
	 height: 36px;
	 z-index:52;
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
} 

 #childnotbreastfeed 
{ 
	 left: 413px; 
	 top: 62px; 
	 position: absolute; 
	 width: 104px;
	 height: 39px;
	 z-index:53;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
} 

 #layer_11 
{ 
	 left: 643px; 
	 top: 57px; 
	 position: absolute; 
	 width: 176px;
	 height: 96px;
	 z-index:54;
} 

 #layer_1121
{ 
	 left: 765px; 
	 top: 116px; 
	 position: absolute; 
	 width: 37px;
	 height: 31px;
	 z-index:55;
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
} 

 #Thoseunknown 
{ 
	 left: 662px; 
	 top: 71px; 
	 position: absolute; 
	 width: 87px;
	 height: 39px;
	 z-index:56;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
} 

 #WithinFirsthourPic 
{ 
	 left: 355px; 
	 top: 177px; 
	 position: absolute; 
	 width: 326px;
	 height: 94px;
	 z-index:57;
} 

 #Breastfeedwithinthef 
{ 
	 left: 426px; 
	 top: 188px; 
	 position: absolute; 
	 width: 225px;
	 height: 43px;
	 z-index:58;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
} 

 #layer_108 
{ 
	 left: 581px; 
	 top: 225px; 
	 position: absolute; 
	 width: 79px;
	 height: 36px;
	 z-index:59;
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
} 
/*********************************************/



 #ccmvcmrcopy3 
{ 
	 left: 145px; 
	 top: 334px; 
	 position: absolute; 
	 width: 752px;
	 height: 285px;
	 z-index:46;
}

 #Layer11 
{ 
	 left: 302px; 
	 top: 444px; 
	 position: absolute; 
	 width: 500px;
	 height: 14px;
	 z-index:52;
} 

 #Layer1copy5 
{ 
	 left: 301px; 
	 top: 508px; 
	 position: absolute; 
	 width: 500px;
	 height: 13px;
	 z-index:53;
} 

 #layer_112 
{ 
	 display: inline;
	font-family: 'Open Sans', sans-serif;
} 

 #layer_76 
{ 
	 display: inline;
	font-family: 'Open Sans', sans-serif;
} 

 #layer_84 
{ 
	 display: inline;
	font-family: 'Open Sans', sans-serif;
} 

 #layer_79 
{ 
	 display: inline;
	font-family: 'Open Sans', sans-serif;
} 

 #layer_55 
{ 
	 display: inline;
	font-family: 'Open Sans', sans-serif;
} 

 #layer_42 
{ 
	 display: inline;
	font-family: 'Open Sans', sans-serif;
} 

 #Layer1copy_0 
{ 
	 left: 302px; 
	 top: 474px; 
	 position: absolute; 
	 width: 500px;
	 height: 13px;
	 z-index:60;
} 

 #Layer1copy2_0 
{ 
	 left: 301px; 
	 top: 414px; 
	 position: absolute; 
	 width: 500px;
	 height: 13px;
	 z-index:61;
} 

 #Layer1copy3 
{ 
	 left: 302px; 
	 top: 537px; 
	 position: absolute; 
	 width: 500px;
	 height: 13px;
	 z-index:62;
} 

 #Layer1copy4 
{ 
	 left: 301px; 
	 top: 570px; 
	 position: absolute; 
	 width: 500px;
	 height: 13px;
	 z-index:63;
} 

 #Month1 
{ 
	 left: 197px; 
	 top: 419px; 
	 position: absolute; 
	 width: 81px;
	 height: 14px;
	 z-index:64;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
} 

 #Month2 
{ 
	 left: 196px; 
	 top: 450px; 
	 position: absolute; 
	 width: 109px;
	 height: 14px;
	 z-index:65;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
} 

 #Month3 
{ 
	 left: 197px; 
	 top: 478px; 
	 position: absolute; 
	 width: 105px;
	 height: 14px;
	 z-index:66;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
} 

 #Month4 
{ 
	 left: 196px; 
	 top: 507px; 
	 position: absolute; 
	 width: 105px;
	 height: 14px;
	 z-index:67;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
} 

 #Month5 
{ 
	 left: 198px; 
	 top: 537px; 
	 position: absolute; 
	 width: 104px;
	 height: 14px;
	 z-index:68;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
} 

 #Month6 
{ 
	 left: 199px; 
	 top: 566px; 
	 position: absolute; 
	 width: 104px;
	 height: 14px;
	 z-index:69;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
} 

 #Monthlybreastfeeding 
{ 
	 left: 348px; 
	 top: 378px; 
	 position: absolute; 
	 width: 338px;
	 height: 24px;
	 z-index:70;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
}


/*************************************************/


 #ProportionofPregnant1 
{ 
	 left: 293px; 
	 top: 671px; 
	 position: absolute; 
	 width: 209px;
	 height: 22px;
	 z-index:71;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color:#45b39a;
} 

 #Proportionofpregnant 
{ 
	 left: 558px; 
	 top: 675px; 
	 position: absolute; 
	 width: 204px;
	 height: 19px;
	 z-index:72;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color:#45b39a;
} 

 #Proportionoflivebirt1 
{ 
	 left: 280px; 
	 top: 753px; 
	 position: absolute; 
	 width: 216px;
	 height: 9px;
	 z-index:73;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color:#45b39a;
} 

 #proportionoflivebirt 
{ 
	 left: 513px; 
	 top: 758px; 
	 position: absolute; 
	 width: 235px;
	 height: 9px;
	 z-index:74;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color:#45b39a;
} 

 #Proportionofchildren1 
{ 
	 left: 284px; 
	 top: 822px; 
	 position: absolute; 
	 width: 218px;
	 height: 19px;
	 z-index:75;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color:#45b39a;
} 

 #proportionofchildren 
{ 
	 left: 546px; 
	 top: 819px; 
	 position: absolute; 
	 width: 218px;
	 height: 20px;
	 z-index:76;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color:#45b39a;
} 

 #proportionofchildren_0 
{ 
	 left: 282px; 
	 top: 914px; 
	 position: absolute; 
	 width: 212px;
	 height: 19px;
	 z-index:77;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color:#45b39a;
} 

 #layer_152 
{ 
	 left: 341px; 
	 top: 708px; 
	 position: absolute; 
	 width: 54px;
	 height: 14px;
	 z-index:78;
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
}
#layer_152:hover
{
	color:#45b39a;
	cursor:pointer;
}

 #layer_44 
{ 
	 left: 602px; 
	 top: 705px; 
	 position: absolute; 
	 width: 44px;
	 height: 14px;
	 z-index:79;
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
}
#layer_44:hover
{
	color:#45b39a;
	cursor:pointer;
}

 #layer_29 
{ 
	 left: 334px; 
	 top: 781px; 
	 position: absolute; 
	 width: 43px;
	 height: 14px;
	 z-index:80;
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
}
#layer_29:hover
{
	color:#45b39a;
	cursor:pointer;
}

 #layer_822 
{ 
	 left: 604px; 
	 top: 776px; 
	 position: absolute; 
	 width: 56px;
	 height: 14px;
	 z-index:81;
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
}
#layer_822:hover
{
	color:#45b39a;
	cursor:pointer;
}

 #layer_27 
{ 
	 left: 333px; 
	 top: 856px; 
	 position: absolute; 
	 width: 44px;
	 height: 14px;
	 z-index:82;
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
}
#layer_27:hover
{
	color:#45b39a;
	cursor:pointer;
}

 #layer_46 
{ 
	 left: 605px; 
	 top: 861px; 
	 position: absolute; 
	 width: 44px;
	 height: 14px;
	 z-index:83;
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
}
#layer_46:hover
{
	color:#45b39a;
	cursor:pointer;
}

 #layer_56 
{ 
	 left: 336px; 
	 top: 958px; 
	 position: absolute; 
	 width: 44px;
	 height: 14px;
	 z-index:84;
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
}
#layer_56:hover
{
	color:#45b39a;
	cursor:pointer;
}

 #layer_73 
{ 
	 left: 613px; 
	 top: 959px; 
	 position: absolute; 
	 width: 44px;
	 height: 14px;
	 z-index:85;
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
}
#layer_73:hover
{
	color:#45b39a;
	cursor:pointer;
}

 #proportionofchildren_1 
{ 
	 left: 540px; 
	 top: 919px; 
	 position: absolute; 
	 width: 219px;
	 height: 20px;
	 z-index:86;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color:#45b39a;
}

/****************************************************/


 #ccmvcmrcopy4 
{ 
	 left: 145px; 
	 top: 1005px; 
	 position: absolute; 
	 width: 752px;
	 height: 171px;
	 z-index:45;
} 

 #Layer12 
{ 
	 left: 545px; 
	 top: 1033px; 
	 position: absolute; 
	 width: 114px;
	 height: 114px;
	 z-index:87;
} 

 #UnderWeight 
{ 
	 left: 373px; 
	 top: 1060px; 
	 position: absolute; 
	 width: 226px;
	 height: 16px;
	 z-index:88;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	color:#45b39a;
} 

 #OverWeight 
{ 
	 left: 678px; 
	 top: 1060px; 
	 position: absolute; 
	 width: 228px;
	 height: 16px;
	 z-index:89;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	color:#45b39a;
} 

 #layer_7869 
{ 
	 left: 384px; 
	 top: 1090px; 
	 position: absolute; 
	 width: 176px;
	 height: 21px;
	 z-index:90;
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
}
#layer_7869:hover
{
	color:#45b39a;
	cursor:pointer;
}
#underwieghtpercent{
	font-size: 15px;
}

 #top 
{ 
	 left: 680px; 
	 top: 1090px; 
	 position: absolute; 
	 width: 76px;
	 height: 21px;
	 z-index:91;
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
}
#top:hover
{
	color:#45b39a;
	cursor:pointer;
}
#overweightpercent{
	font-size:15px;
}

 #Layer13 
{ 
	 left: 237px; 
	 top: 1033px; 
	 position: absolute; 
	 width: 114px;
	 height: 114px;
	 z-index:92;
}

/*********************************************/



 #ccmvcmrcopy5 
{ 
	 left: 145px; 
	 top: 1204px; 
	 position: absolute; 
	 width: 752px;
	 height: 285px;
	 z-index:47;
}


 #MalnutritionCases 
{ 
	 left: 347px; 
	 top: 1223px; 
	 position: absolute; 
	 width: 139px;
	 height: 13px;
	 z-index:93;
		font-family: 'Open Sans', sans-serif;
	font-size: 55px;
}

 #layer_224 
{ 
	 left: 337px; 
	 top: 1298px; 
	 position: absolute; 
	 width: 135px;
	 height: 59px;
	 z-index:102;
	font-family: 'Open Sans', sans-serif;
	font-size: 50px;
	color:#45b39a;
}
#layer_224:hover
{
	color:#000;
	cursor:pointer;
}

 #layer_98 
{ 
	 left: 732px; 
	 top: 1301px; 
	 position: absolute; 
	 width: 85px;
	 height: 60px;
	 z-index:103;
	font-family: 'Open Sans', sans-serif;
	font-size: 50px;
	color:#45b39a;
}
#layer_98:hover
{
	color:#000;
	cursor:pointer;
}


 #waisting 
{ 
	 left: 230px; 
	 top: 1317px; 
	 position: absolute; 
	 width: 136px;
	 height: 35px;
	 z-index:108;
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
} 

 #stunting 
{ 
	 left: 619px; 
	 top: 1322px; 
	 position: absolute; 
	 width: 137px;
	 height: 35px;
	 z-index:109;
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
} 
 #layer_11_0 
{ 
	 left: 244px; 
	 top: 1456px; 
	 position: absolute; 
	 width: 147px;
	 height: 148px;
	 z-index:94;
}
 #month1number 
{ 
	 left: 294px; 
	 top: 1550px; 
	 position: absolute; 
	 width: 147px;
	 height: 148px;
	 z-index:96;
	font-family: 'Open Sans', sans-serif;
	font-size: 38px;
	color:#fff;
} 

 #At1year 
{ 
	 left: 395px; 
	 top: 1456px; 
	 position: absolute; 
	 width: 149px;
	 height: 149px;
	 z-index:95;
}
 #year1number 
{ 
	 left: 455px; 
	 top: 1550px; 
	 position: absolute; 
	 width: 149px;
	 height: 149px;
	 z-index:95;
	font-family: 'Open Sans', sans-serif;
	font-size: 38px;
	color:#fff;
} 

 #At2years 
{ 
	 left: 552px; 
	 top: 1457px; 
	 position: absolute; 
	 width: 148px;
	 height: 149px;
	 z-index:96;
}
 #years2number 
{ 
	 left: 602px; 
	 top: 1552px; 
	 position: absolute; 
	 width: 148px;
	 height: 149px;
	 z-index:96;
	font-family: 'Open Sans', sans-serif;
	font-size: 38px;
	color:#fff;
}

 #Numberofmalnutrition 
{ 
	 left: 288px; 
	 top: 1397px; 
	 position: absolute; 
	 width: 414px;
	 height: 32px;
	 z-index:97;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	
} 


 #Layer15 
{ 
	 left: 0px; 
	 top: 1694px; 
	 position: absolute; 
	 width: 1000px;
	 height: 6px;
	 z-index:99;
} 
