


 #background2 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 1000px;
	 height: 700px;
	 overflow: hidden;
	 z-index:2;
	}


 #Layer7copy 
{ 
	 left: 65px; 
	 top: 20px; 
	 position: absolute; 
	 width: 857px;
	 height: 516px;
	 z-index:2;
}

 #Layer7copy_0 
{ 
	 left: 63px; 
	 top: 787px; 
	 position: absolute; 
	 width: 857px;
	 height: 272px;
	 z-index:3;
} 



 #Layer1copy 
{ 
	background: url(../../images/pregnancy/banner_background1.png) repeat-x;
	 left: 0px; 
	 top: 0px; 
	 position: absolute; 
	 width: 100%;
	 height: 44px;
	 z-index:3;
	border-radius:5px;
} 

 #Layer1 
{ 
	 left: 0px; 
	 top: 0px; 
	background-color: #fff;
	 position: absolute; 
	 width: 50%;
	opacity: 0.5;
	 height: 44px;
	 z-index:4;
} 



/*********************************/

 #pregnancies 
{ 
	 left: 262px; 
	 top: 80px; 
	 position: absolute; 
	 width: 83px;
	 height: 163px;
	 z-index:9;
} 

 #Pregnanciesconfirmed 
{ 
	 left: 560px; 
	 top: 120px; 
	 position: absolute; 
	 width: 320px;
	 height: 53px;
	 z-index:10;
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
	color: #000;
}

 #Pregnanciesconfirmednumber 
{ 
	 left: 600px; 
	 top: 160px; 
	 position: absolute; 
	 width: 320px;
	 height: 53px;
	 z-index:10;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 30px;
	
}


 #Pregnanciesconfirmed_0 
{ 
	 left: 376px; 
	 top: 120px; 
	 position: absolute; 
	 width: 118px;
	 height: 44px;
	 z-index:11;
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
	color: #000;
} 

 #layer_150 
{ 
	 left: 393px; 
	 top: 160px; 
	 position: absolute; 
	 width: 62px;
	 height: 28px;
	 z-index:12;
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	font-weight:bold;
}
#layer_150 > a
{
	color:#493913;
}

 #ancreports 
{ 
	 left: 376px; 
	 top: 250px; 
	 position: absolute; 
	 width: 118px;
	 height: 44px;
	 z-index:11;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: #000;
}

 #birreports 
{ 
	 left: 676px; 
	 top: 250px; 
	 position: absolute; 
	 width: 118px;
	 height: 44px;
	 z-index:11;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: #000;
}

 #cbnreports 
{ 
	 left: 376px; 
	 top: 300px; 
	 position: absolute; 
	 width: 118px;
	 height: 44px;
	 z-index:11;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: #000;
}

 #chireports 
{ 
	 left: 676px; 
	 top: 300px; 
	 position: absolute; 
	 width: 118px;
	 height: 44px;
	 z-index:11;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: #000;
}

 #cmrreports 
{ 
	 left: 376px; 
	 top: 350px; 
	 position: absolute; 
	 width: 118px;
	 height: 44px;
	 z-index:11;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: #000;
}

 #depreports 
{ 
	 left: 676px; 
	 top: 350px; 
	 position: absolute; 
	 width: 118px;
	 height: 44px;
	 z-index:11;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: #000;
}

 #dthreports 
{ 
	 left: 376px; 
	 top: 400px; 
	 position: absolute; 
	 width: 118px;
	 height: 44px;
	 z-index:11;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: #000;
}

 #nbcreports 
{ 
	 left: 676px; 
	 top: 400px; 
	 position: absolute; 
	 width: 118px;
	 height: 44px;
	 z-index:11;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: #000;
}

 #pncreports 
{ 
	 left: 376px; 
	 top: 450px; 
	 position: absolute; 
	 width: 118px;
	 height: 44px;
	 z-index:11;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: #000;
}

 #prereports 
{ 
	 left: 676px; 
	 top: 450px; 
	 position: absolute; 
	 width: 118px;
	 height: 44px;
	 z-index:11;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: #000;
}

 #rarreports 
{ 
	 left: 376px; 
	 top: 500px; 
	 position: absolute; 
	 width: 118px;
	 height: 44px;
	 z-index:11;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: #000;
}

 #redreports 
{ 
	 left: 676px; 
	 top: 500px; 
	 position: absolute; 
	 width: 118px;
	 height: 44px;
	 z-index:11;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: #000;
} 
 #refreports 
{ 
	 left: 376px; 
	 top: 550px; 
	 position: absolute; 
	 width: 118px;
	 height: 44px;
	 z-index:11;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: #000;
}

 #resreports 
{ 
	 left: 676px; 
	 top: 550px; 
	 position: absolute; 
	 width: 118px;
	 height: 44px;
	 z-index:11;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: #000;
} 
 #riskreports 
{ 
	 left: 550px; 
	 top: 600px; 
	 position: absolute; 
	 width: 118px;
	 height: 44px;
	 z-index:11;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: #000;
}
