{%  extends "novabase.html" %}

{% block title %}

	<title>ANC</title>	
	
{% endblock  %}


{% block scripts %}
	<link href="{{ static_path }}/css/anc/styles.css" rel="stylesheet" type="text/css">
    <script src="{{ static_path }}/js/anc/highcharts.js"></script>
    <script src="{{ static_path }}/js/anc/graph.js"></script>
{% endblock %}

			{% block banner %}
			<div id="bannertext">
			<strong>Preventing</strong> the deaths of <strong>Pregnant Mothers</strong> and <strong>New Borns</strong> &amp; Improving <strong>Child Nutrition</strong>
			</div>
			<!-- <div id="bannericon"><img src="{{ static_path }}/images/pregnancy/Layer6.png"></div>-->
			{%  endblock %}


{%  block   bodycontent %}
			<div id="background2">
			<!--  -->
			<div id="ccmvcmrcopy2"><img src="{{ static_path }}/images/anc/ccmvcmrcopy2.png"></div>
			<div id="Layer13"><img src="{{ static_path }}/images/anc/Layer13.png"></div>
			<div id="ANCVISIT">
			ANC VISITS
			</div>
			<div id="Layer14"><img src="{{ static_path }}/images/anc/Layer14.png"></div>
			<div id="ANC443">
			ANC 4 <br> 
			<strong>{{display.anc4}}</strong>
			</div>
			<div id="Layer15"><img src="{{ static_path }}/images/anc/Layer15.png"></div>
			<div id="ANC369">
			ANC 3<br>
			<strong>{{display.anc3}}</strong>
			</div>
			<div id="Layer16"><img src="{{ static_path }}/images/anc/Layer16.png"></div>
			<div id="ANC267">
			ANC 2<br>
			<strong>{{display.anc2}}</strong>
			</div>
			<div id="Layer17"><img src="{{ static_path }}/images/anc/Layer17.png"></div>
			<div id="ANC198">
			ANC 1<br>
			<strong>{{display.anc1}}</strong>
			</div>
			<div id="Layer18"><img src="{{ static_path }}/images/anc/Layer18.png"></div>
			<div id="Formostwomenpregnanc">
			For most women, pregnancy is a straightforward,
			 happy and healthy time. Having regular antenatal
			 check-ups is an important part of staying healthy 
			and making sure your baby is healthy.
			Regular checks during your pregnancy can assist in
			 identifying and reducing risks to either you or your baby. 
			Although you may be feeling well, it is still important to go 
			to all your antenatal check-ups.
			Antenatal visits also give you a chance to ask any 
			questions and to talk about any issues that you are 
			unsure about, such as aches and pains, the birth, feeding 
			your baby or any other concerns. Before each visit, it is a 
			good idea to think about the things you want to talk about
			 and then write them down so that you don't forget them.
			</div>
			<div id="ANTENTIALVISITS">ANTENTIAL VISITS</div>
			
			
			<!--  -->
			<div id="Layer20"><img src="{{ static_path }}/images/anc/Layer20.png"></div>
			<div id="ANCATTENDANCE">
			ANC ATTENDANCE
			</div>
			<div id="Layer21"><img src="{{ static_path }}/images/anc/Layer21.png"></div>
			<div id="Layer22"><img src="{{ static_path }}/images/anc/Layer22.png"></div>
			<div id="VectorSmartObject"><img src="{{ static_path }}/images/anc/VectorSmartObject.png"></div>
			<div id="anc4">
			ANC 4: <strong>{{ display.anc1pc }}%</strong> 
			</div>
			<div id="anc3">
			ANC 3: <strong>{{ display.anc2pc }}%</strong>
			</div>
			<div id="anc2">
			ANC 2: <strong>{{ display.anc3pc }}%</strong> 
			</div>
			<div id="anc1">
			ANC 1: <strong>{{ display.anc1pc }}%</strong> 
						</div>
			<div id="top">
			4 standard visits <strong>{{ display.allanc }}</strong> {{ display.allancpc }}%
			</div>
			
			<!--  -->
			<div id="ccmvcmrcopy3"><img src="{{ static_path }}/images/anc/ccmvcmrcopy3.png"></div>
			<div id="ANCConsultation">ANC Consultations</div>
			<div id="Layer23"><img src="{{ static_path }}/images/anc/Layer23.png"></div>
			<div id="Layer24"><img src="{{ static_path }}/images/anc/Layer24.png"></div>
			<div id="anc425">ANC 4: {{ display.overanc1 }}</div>
			<div id="anc3191">ANC 3: {{ display.overanc2 }}</div>
			<div id="anc2431">ANC 2: {{ display.overanc3 }}</div>
			<div id="anc1211">ANC 1: {{ display.overanc4 }}</div>
			<div id="overweight">OVERWEIGHT</div>
			<div id="Layer25"><img src="{{ static_path }}/images/anc/Layer25.png"></div>
			<div id="Layer26"><img src="{{ static_path }}/images/anc/Layer26.png"></div>
			<div id="anc417">ANC 4: {{ display.underanc1 }}</div>
			<div id="anc312">ANC 3: {{ display.underanc2 }}</div>
			<div id="anc243">ANC 2: {{ display.underanc3 }}</div>
			<div id="anc121">ANC 1: {{ display.underanc4 }}</div>
			<div id="underweight">UNDERWIEGHT</div>
			<div id="Layer27"><img src="{{ static_path }}/images/anc/Layer27.png"></div>
			<div id="Layer28"><img src="{{ static_path }}/images/anc/Layer28.png"></div>
			<div id="anc496">ANC 4: {{ display.goodanc1 }}</div>
			<div id="anc392">ANC 3: {{ display.goodanc2 }}</div>
			<div id="anc2108">ANC 2: {{ display.goodanc3 }}</div>
			<div id="anc198">ANC 1: {{ display.goodanc4 }}</div>
			<div id="goodhealth">HEALTHY </div>
			<div id="Layer29"><img src="{{ static_path }}/images/anc/Layer29.png"></div>
			<div id="Layer30"><img src="{{ static_path }}/images/anc/Layer30.png"></div>
			<div id="anc418">ANC 4: {{ display.badanc1 }}</div>
			<div id="anc320">ANC 3: {{ display.badanc2 }}</div>
			<div id="anc213">ANC 2: {{ display.badanc3 }}</div>
			<div id="anc109">ANC 1: {{ display.badanc4 }}</div>
			<div id="badhealth">AT RISK</div>
			
			<!--  -->
			<div id="ccmvcmrcopy4"><img src="{{ static_path }}/images/anc/ccmvcmrcopy4.png"></div>
			<div id="Layer1copy42"><img src="{{ static_path }}/images/anc/bluehex.png"></div>
			<div id="Layer1copy43"><img src="{{ static_path }}/images/anc/bluehex.png"></div>
			<div id="Layer1copy44"><img src="{{ static_path }}/images/anc/bluehex.png"></div>
			<div id="Layer1copy45"><img src="{{ static_path }}/images/anc/bluehex.png"></div>
			<div id="Layer1copy46"><img src="{{ static_path }}/images/anc/bluehex.png"></div>
			<div id="Layer1copy47"><img src="{{ static_path }}/images/anc/bluehex.png"></div>
			<div id="Layer1copy48"><img src="{{ static_path }}/images/anc/bluehex.png"></div>
			<div id="Layer1copy49"><img src="{{ static_path }}/images/anc/bluehex.png"></div>
			<div id="Layer1copy50"><img src="{{ static_path }}/images/anc/bluehex.png"></div>
			<div id="Layer1copy51"><img src="{{ static_path }}/images/anc/bluehex.png"></div>
			<div id="Layer1copy52"><img src="{{ static_path }}/images/anc/bluehex.png"></div>
			<div id="Layer1copy53"><img src="{{ static_path }}/images/anc/bluehex.png"></div>
			<div id="Layer1copy54"><img src="{{ static_path }}/images/anc/bluehex.png"></div>
			<div id="Layer1copy55"><img src="{{ static_path }}/images/anc/bluehex.png"></div>
			<div id="COUGHING24copy3">
			COUGHING<br><strong>{{ display.cough4 }}</strong>
			</div>
			<div id="DIARRHEA33copy3">
			DIARRHEA<br><strong>{{ display.diarrhea4 }}</strong>
			</div>
			<div id="FEVER12copy3">
			FEVER<br><strong>{{ display.fever4 }}</strong>
			</div>
			<div id="MALARIA09copy3">
			MALARIA<br><strong>{{ display.malaria4 }}</strong>
			</div>
			<div id="VOMITING18copy3">
			VOMITTING<br><strong>{{ display.vomiting4 }}</strong>
			</div>
			<div id="STILLBORN21copy3">
			STILLBORN<br><strong>{{ display.still4 }}</strong>
			</div>
			<div id="EDEMA13copy3">
			EDEMA<br><strong>{{ display.edema4 }}</strong>
			</div>
			<div id="JAUNDICE09copy3">
			JAUNDICE<br><strong>{{ display.jaundice4 }}</strong>
			</div>
			<div id="PNEUMONIA21copy3">
			PHEUMONIA<br><strong>{{ display.pheumonia4 }}</strong>
			</div>
			<div id="DISABILITY21copy3">
			DISABILITY<br><strong>{{ display.disability4 }}</strong>
			</div>
			<div id="HYPOTHEMIA21copy3">
			HYPOTHEMIA<br><strong>{{ display.hypothemia4 }}</strong>
			</div>
			<div id="CLEFTPALATE21">
			SEVERE ANEMIA<br><strong>{{ display.anemia4 }}</strong>
			</div>
			<div id="CORDINFECTION"
			>CORD<br>INFECTION<br><strong>{{ display.cord4 }}</strong>
			</div>
			<div id="NECKSTIFFNESS">
			NECK STIFFNESS<br><strong>{{ display.neck4 }}</strong>
			</div>
			<div id="Layer2copy3"><img src="{{ static_path }}/images/anc/ancsymptoms.png"></div>
			<div id="SymptomsinANC4">
			Symptoms in ANC 4
			</div>
			<div id="Layer1copy28"><img src="{{ static_path }}/images/anc/bluehex.png"></div>
			<div id="Layer1copy29"><img src="{{ static_path }}/images/anc/bluehex.png"></div>
			<div id="Layer1copy30"><img src="{{ static_path }}/images/anc/bluehex.png"></div>
			<div id="Layer1copy31"><img src="{{ static_path }}/images/anc/bluehex.png"></div>
			<div id="Layer1copy32"><img src="{{ static_path }}/images/anc/bluehex.png"></div>
			<div id="Layer1copy33"><img src="{{ static_path }}/images/anc/bluehex.png"></div>
			<div id="Layer1copy34"><img src="{{ static_path }}/images/anc/bluehex.png"></div>
			<div id="Layer1copy35"><img src="{{ static_path }}/images/anc/bluehex.png"></div>
			<div id="Layer1copy36"><img src="{{ static_path }}/images/anc/bluehex.png"></div>
			<div id="Layer1copy37"><img src="{{ static_path }}/images/anc/bluehex.png"></div>
			<div id="Layer1copy38"><img src="{{ static_path }}/images/anc/bluehex.png"></div>
			<div id="Layer1copy39"><img src="{{ static_path }}/images/anc/bluehex.png"></div>
			<div id="Layer1copy40"><img src="{{ static_path }}/images/anc/bluehex.png"></div>
			<div id="Layer1copy41"><img src="{{ static_path }}/images/anc/bluehex.png"></div>
			<div id="COUGHING24copy2">
			COUGHING<br><strong>{{ display.cough3 }}</strong>
			</div>
			<div id="DIARRHEA33copy2">
			DIARRHEA<br><strong>{{ display.diarrhea3 }}</strong>
			</div>
			<div id="FEVER12copy2">
			FEVER<br><strong>{{ display.fever3 }}</strong>
			</div>
			<div id="MALARIA09copy2">
			MALARIA<br><strong>{{ display.malaria3 }}</strong>
			</div>
			<div id="VOMITING18copy2">
			VOMITTING<br><strong>{{ display.vomiting3 }}</strong>
			</div>
			<div id="STILLBORN21copy2">
			STILLBORN<br><strong>{{ display.still3 }}</strong>
			</div>
			<div id="EDEMA13copy2">
			EDEMA<br><strong>{{ display.edema3 }}</strong>
			</div>
			<div id="JAUNDICE09copy2">
			JAUNDICE<br><strong>{{ display.jaundice3 }}</strong>
			</div>
			<div id="PNEUMONIA21copy2">
			PHEUMONIA<br><strong>{{ display.pheumonia3 }}</strong>
			</div>
			<div id="DISABILITY21copy2">
			DISABILITY<br><strong>{{ display.disabilty3 }}</strong>
			</div>
			<div id="HYPOTHEMIA21copy2">
			HYPOTHEMIA<br><strong>{{ display.hypothemia3 }}</strong>
			</div>
			<div id="CLEFTPALATE21_0">
			SEVERE ANEMIA<br><strong>{{ display.anemia3 }}</strong>
			</div>
			<div id="CORDINFECTION_0">
			CORD<br>INFECTION<br><strong>{{ display.cord3 }}</strong>
			</div>
			<div id="NECKSTIFFNESS_0">
			NECK STIFFNESS<br><strong>{{ display.neck3 }}</strong>
			</div>
			<div id="Layer2copy2"><img src="{{ static_path }}/images/anc/ancsymptoms.png"></div>
			<div id="SymptomsinANC2">
			Symptoms in ANC 3
			</div>
			<div id="Layer1copy14"><img src="{{ static_path }}/images/anc/bluehex.png"></div>
			<div id="Layer1copy15"><img src="{{ static_path }}/images/anc/bluehex.png"></div>
			<div id="Layer1copy16"><img src="{{ static_path }}/images/anc/bluehex.png"></div>
			<div id="Layer1copy17_0"><img src="{{ static_path }}/images/anc/bluehex.png"></div>
			<div id="Layer1copy18_0"><img src="{{ static_path }}/images/anc/bluehex.png"></div>
			<div id="Layer1copy19"><img src="{{ static_path }}/images/anc/bluehex.png"></div>
			<div id="Layer1copy20"><img src="{{ static_path }}/images/anc/bluehex.png"></div>
			<div id="Layer1copy21"><img src="{{ static_path }}/images/anc/bluehex.png"></div>
			<div id="Layer1copy22"><img src="{{ static_path }}/images/anc/bluehex.png"></div>
			<div id="Layer1copy23"><img src="{{ static_path }}/images/anc/bluehex.png"></div>
			<div id="Layer1copy24"><img src="{{ static_path }}/images/anc/bluehex.png"></div>
			<div id="Layer1copy25"><img src="{{ static_path }}/images/anc/bluehex.png"></div>
			<div id="Layer1copy26"><img src="{{ static_path }}/images/anc/bluehex.png"></div>
			<div id="Layer1copy27"><img src="{{ static_path }}/images/anc/bluehex.png"></div>
			<div id="COUGHING24copy">
			COUGHING<br><strong>{{ display.cough2 }}</strong>
			</div>
			<div id="DIARRHEA33copy">
			DIARRHEA<br><strong>{{ display.diarrhea2 }}</strong>
			</div>
			<div id="FEVER12copy">
			FEVER<br><strong>{{ display.fever2 }}</strong>
			</div>
			<div id="MALARIA09copy">
			MALARIA<br><strong>{{ display.malaria2 }}</strong>
			</div>
			<div id="VOMITING18copy">
			VOMITTING<br><strong>{{ display.vomiting2 }}</strong>
			</div>
			<div id="STILLBORN21copy">
			STILLBORN<br><strong>{{ display.still2 }}</strong>
			</div>
			<div id="EDEMA13copy">
			EDEMA<br><strong>{{ display.edema2 }}</strong>
			</div>
			<div id="JAUNDICE09copy">
			JAUNDICE<br><strong>{{ display.jaundice2 }}</strong>
			</div>
			<div id="PNEUMONIA21copy">
			PHEUMONIA<br><strong>{{ display.pheumonia2 }}</strong>
			</div>
			<div id="DISABILITY21copy">
			DISABILITY<br><strong>{{ display.disabilty2 }}</strong>
			</div>
			<div id="HYPOTHEMIA21copy">
			HYPOTHEMIA<br><strong>{{ display.hypothemia2 }}</strong>
			</div>
			<div id="CLEFTPALATE21_1">
			SEVERE ANEMIA<br><strong>{{ display.anemia2 }}</strong>
			</div>
			<div id="CORDINFECTION_1">
			CORD<br>INFECTION<br><strong>{{ display.cord2 }}</strong>
			</div>
			<div id="NECKSTIFFNESS_1">
			NECK STIFFNESS<br><strong>{{ display.neck2 }}</strong>	
			</div>
			<div id="Layer2copy"><img src="{{ static_path }}/images/anc/ancsymptoms.png"></div>
			<div id="SymptomsinANC2_0">
			Symptoms in ANC 2
			</div>
			<div id="Layer31"><img src="{{ static_path }}/images/anc/bluehex.png"></div>
			<div id="Layer1copy_0"><img src="{{ static_path }}/images/anc/bluehex.png"></div>
			<div id="Layer1copy2"><img src="{{ static_path }}/images/anc/bluehex.png"></div>
			<div id="Layer1copy6"><img src="{{ static_path }}/images/anc/bluehex.png"></div>
			<div id="Layer1copy7"><img src="{{ static_path }}/images/anc/bluehex.png"></div>
			<div id="Layer1copy8"><img src="{{ static_path }}/images/anc/bluehex.png"></div>
			<div id="Layer1copy3"><img src="{{ static_path }}/images/anc/bluehex.png"></div>
			<div id="Layer1copy4"><img src="{{ static_path }}/images/anc/bluehex.png"></div>
			<div id="Layer1copy5"><img src="{{ static_path }}/images/anc/bluehex.png"></div>
			<div id="Layer1copy9"><img src="{{ static_path }}/images/anc/bluehex.png"></div>
			<div id="Layer1copy10"><img src="{{ static_path }}/images/anc/bluehex.png"></div>
			<div id="Layer1copy11"><img src="{{ static_path }}/images/anc/bluehex.png"></div>
			<div id="Layer1copy12"><img src="{{ static_path }}/images/anc/bluehex.png"></div>
			<div id="Layer1copy13"><img src="{{ static_path }}/images/anc/bluehex.png"></div>
			<div id="COUGHING24">
			COUGHING<br><strong>{{ display.cough1 }}</strong>
			</div>
			<div id="DIARRHEA33">
			DIARRHEA<br><strong>{{ display.diarrhea1 }}</strong>
			</div>
			<div id="FEVER12">
			FEVER<br><strong>{{ display.fever1 }}</strong>
			</div>
			<div id="MALARIA09">
			MALARIA<br><strong>{{ display.malaria1 }}</strong>
			</div>
			<div id="VOMITING18">
			VOMITTING<br><strong>{{ display.vomiting1 }}</strong>
			</div>
			<div id="STILLBORN21">
			STILLBORN<br><strong>{{ display.still1 }}</strong>
			</div>
			<div id="EDEMA13">
			EDEMA<br><strong>{{ display.edema1 }}</strong>
			</div>
			<div id="JAUNDICE09">
			JAUNDICE<br><strong>{{ display.jaundice1 }}</strong>
			</div>
			<div id="PNEUMONIA21">
			PHEUMONIA<br><strong>{{ display.pheumonia1 }}</strong>
			</div>
			<div id="DISABILITY21">
			DISABILITY<br><strong>{{ display.disability1 }}</strong>
			</div>
			<div id="HYPOTHEMIA21">
			HYPOTHEMIA<br><strong>{{ display.hypothemia1 }}</strong>
			</div>
			<div id="CLEFTPALATE21_2">
			SEVERE ANEMIA<br><strong>{{ display.anemia1 }}</strong>
			</div>
			<div id="CORDINFECTION_2">
			CORD<br>INFECTION<br><strong>{{ display.cord }}</strong>
			</div>
			<div id="NECKSTIFFNESS_2">
			NECK STIFFNESS<br><strong>{{ display.neck1 }}</strong>
			</div>
			<div id="Layer32"><img src="{{ static_path }}/images/anc/ancsymptoms.png"></div>
			<div id="SymptomsinANC1">
			Symptoms in ANC 1
			</div>	
</div>
{%  endblock  %}
