	{%  extends "novabase.html" %}

{% block title %}
<title>Birth Report</title>	
{% endblock  %}



{% block scripts %}
	<link href="{{ static_path }}/css/birthreport/styles.css" rel="stylesheet" type="text/css">

{% endblock %}


           {% block banner %}
			<div id="bannertext">
			<strong>Monitoring</strong> the first <strong>hours</strong> of <strong>New Borns</strong>
			</div>
			<!--  <div id="bannericon"><img src="{{ static_path }}/images/birthreport/newbornicon.png"></div>-->
			{%  endblock %}



		{%  block   bodycontent %}
			
			<div id="background2">
			
			<!-- newborns -->
			<div id="ccmvcmr"><img src="{{ static_path }}/images/birthreport/ccmvcmr.png"></div>
			<div id="layer_19">
			{{ display.premature }}
			</div>
			<div id="premature">
			Premature:
			</div>
			<div id="prematurepic"><img src="{{ static_path }}/images/birthreport/prematurepic.png"></div>
			<div id="layer_133">
			{{  display.girls|neat_numbers }}
			</div>
			<div id="female">
			Female:
			</div>
			<div id="layer_98">
			{{  display.boys|neat_numbers }}
			</div>
			<div id="male">
			Male:
			</div>
			<div id="Layer13"><img src="{{ static_path }}/images/birthreport/Layer13.png"></div>
			<div id="NEWBORNS">
			NEW BORNS
			</div>
			<div id="layer_231">
			4234
			</div>
			
			
			<!-- location -->
			<div id="DeliveryLocations">
			Delivery locations</div>
			{%  for nom, loc in [('Home', 'home'), ('Clinic', 'clinic'), ('Hospital', 'hospital'), ('Route', 'enroute')] %}
			<div id="{{ nom }}">
			{{ display.locations[loc]|neat_numbers }}
			</div>
			{%  endfor  %}
			
			<div id="Hospital1"><img src="{{ static_path }}/images/birthreport/Hospital.png"></div>
			<div id="Layer14"><img src="{{ static_path }}/images/birthreport/Layer14.png"></div>
			<div id="OnRoute"><img src="{{ static_path }}/images/birthreport/OnRoute.png"></div>
			<div id="Layer15"><img src="{{ static_path }}/images/birthreport/Layer15.png"></div>
			
			
			<!-- weight -->
			<div id="ccmvcmrcopy"><img src="{{ static_path }}/images/birthreport/ccmvcmrcopy.png"></div>
			<div id="Layer16">
			<img src="{{ static_path }}/images/birthreport/Layer16.png">
			</div>
			<div id="Layer17"><img src="{{ static_path }}/images/birthreport/Layer17.png"></div>
			<div id="Layer18"><img src="{{ static_path }}/images/birthreport/Layer18.png"></div>
			<div id="Lessthan2KGs">
			Less than 2.5kg
			</div>
			<div id="kgs23">
			2 to 5 Kgs
			</div>
			<div id="Morethan2KGs">
			More than 5kgs
			</div>
			<div id="layer_2315">
			<strong>{{ display.lessthan }}</strong> {{ display.lessthanpc }}%
			</div>
			<div id="layer_11477">
			<strong>{{ display.normal }}</strong> {{ display.normalpc }}%
			</div>
			<div id="Weightcomparisions">
			Weight comparisions
			</div>
			<div id="layer_188">
			<strong>{{ display.morethan }}</strong> {{ display.morethanpc }}%
			</div>
			<div id="Childwieghtismonitor">
			<strong>Child Weight</strong> is monitored by community health workers and 
			community centers nationlly to keep track of newborns and their all while
			predicting possible infant risks
			</div>
			
			
			
			
			<!-- breast feeding -->
			<div id="ccmvcmrcopy2"><img src="{{ static_path }}/images/birthreport/ccmvcmrcopy2.png"></div>
			<div id="layer_21">
			{{  display.delivs[0].bfeed|neat_numbers }}
			</div>
			<div id="notbreastfeeding">
			Not breast feeding:
			</div>
			<div id="layer_321">
			{{  display.delivs[0].nbfeed|neat_numbers }}
			</div>
			<div id="breastfeed">
			Breast feeding:
			</div>
			<div id="Layer19"><img src="{{ static_path }}/images/birthreport/Layer19.png"></div>
			
			
			
			<!-- mauc -->
			<div id="Layer20"><img src="{{ static_path }}/images/birthreport/Layer20.png"></div>
			<div id="Layer21"><img src="{{ static_path }}/images/birthreport/Layer21.png"></div>
			<div id="layer_12">
			{{ display.maucnormal }}
			</div>
			<div id="layer_54">
			{{ display.mauclow }}
			</div>
			<div id="layer_98_0">
			{{ display.mauchigh }}
			</div>
			<div id="high">
			<strong>High</strong>(5 cms)
			</div>
			<div id="low">
			<strong>Low</strong>(2 cms)
			</div>
			<div id="normal">
			<strong>Normal</strong>(3 cms)
			</div>
			<div id="avg29">
			Avg: 2.9 Cms
			</div>
			<div id="MAUC">
			MAUC
			</div>
</div>
{%  endblock  %}