{%  extends "novabase.html" %}

{% block title %}
<title>Death Report</title>	
{% endblock  %}


{% block scripts %}
	<link href="{{ static_path }}/css/death/styles.css" rel="stylesheet" type="text/css">
	<script src="{{ static_path }}/js/death/highcharts.js"></script>
    <script src="{{ static_path }}/js/death/graphs.js"></script>
	
 
{% endblock %}


{% block banner %}
			<div id="bannertext">
			Monitoring<strong> Mother and child Deaths</strong> and <strong>taking measures to reduce the tragedies</strong>
			</div>
			<!--  <div id="bannericon"><img src="{{ static_path }}/images/death/deathicon.png"></div>-->
{%  endblock %}


{%  block   bodycontent %}
            <div id="background">
            
			 
            
            <!--Reports-->
			<div id="Layer7copy"><img src="{{ static_path }}/images/death/Layer7copy.png"></div>
			<div id="Layer12"><img src="{{ static_path }}/images/death/Layer12.png"></div>
			<div id="childdeaths">Child Deaths</div>
			<div id="deathsreported">Reported :</div>
			<div id="layer_50">{{ display.candnbdeaths }}</div>
			<div id="newborns">New Borns:</div>
			<div id="layer_150"><strong>{{ display.nbdeaths }}</strong> - {{ display.nbdeathspc }}%</div>
			<div id="children">Child deaths:</div>
			<div id="layer_33"><strong>{{ display.cdeaths }}</strong> - {{ display.cdeathspc }}%</div>
			
			
			<div id="deathimg"><img src="{{ static_path }}/images/death/deathimg.png"></div>
			<div id="childGraph"><img src="{{ static_path }}/images/death/childGraph.png"></div>
            
            <!-- Graph -->
			<div id="DeathHistory"> Death History</div>
			<div id="Locationcopy">Location</div>
			<div id="Hospitalimg"><img src="{{ static_path }}/images/death/Hospitalimg.png"></div>
			<div id="homeimg"><img src="{{ static_path }}/images/death/homeimg.png"></div>
			<div id="OnRouteimg"><img src="{{ static_path }}/images/death/OnRouteimg.png"></div>
			<div id="clinicimg"><img src="{{ static_path }}/images/death/clinicimg.png"></div>
			
			<div id="layer_121">{{ display.childdeathhome }}</div>
			<div id="layer_96">{{ display.childdeathclinic }}</div>
			<div id="layer_73">{{ display.childdeathhospital }}</div>
			<div id="layer_7">{{ display.childdeathonroute }}</div>
            
            <!-- Reports2 -->
			<div id="Layer7copy_0"><img src="{{ static_path }}/images/death/Layer7copy_0.png"></div>
			<div id="deathbg"><img src="{{ static_path }}/images/death/deathbg.png"></div>
			<div id="pregnancydeaths">Pregnancy Deaths</div>
			<div id="deathreported">Reported :</div>
			<div id="layer_50_0">{{ display.pregdeaths }}</div>
			<div id="pregnancies">Pregnancies :</div>
			<div id="layer_150_0">{{ display.pregnumber }}</div>
			<div id="percentage_0">Percentage :</div>
			<div id="layer_33_0">{{ display.pregdeathspc }}%</div>
			
			
			
			
			
			<div id="deathimg_0"><img src="{{ static_path }}/images/death/deathimg_0.png"></div>
			<div id="graph"><img src="{{ static_path }}/images/death/graph.png"></div>
			<div id="Layer7copy_1"><img src="{{ static_path }}/images/death/Layer7copy_1.png"></div>
			<div id="Location">Location</div>
			<div id="Hospital"><img src="{{ static_path }}/images/death/Hospital.png"></div>
			<div id="homeimg_0"><img src="{{ static_path }}/images/death/homeimg_0.png"></div>
			<div id="OnRoute"><img src="{{ static_path }}/images/death/OnRoute.png"></div>
			<div id="clinicimg_0"><img src="{{ static_path }}/images/death/clinicimg_0.png"></div>
			
			<div id="layer_94">{{ display.pregdeathhome }}</div>
			<div id="layer_131">{{ display.pregdeathclinic }}</div>
			<div id="layer_69">{{ display.pregdeathhospital }}</div>
			<div id="layer_4">{{ display.pregdeathonroute }}</div>
        </div>

{%  endblock %}    
            