{%  extends "novabase.html" %}

{% block title %}
<title>Delivery</title>	
{% endblock  %}


{% block scripts %}
<link href="{{ static_path }}/css/delivery/styles.css" rel="stylesheet" type="text/css">
    
{% endblock %}


{% block banner %}
			<div id="bannertext">
			<strong>Preventing</strong> the deaths of <strong>Pregnant Mothers</strong> and <strong>New Borns</strong> &amp; Improving <strong>Child Nutrition</strong>
			</div>
			<!-- <div id="bannericon"><img src="{{ static_path }}/images/pregnancy/Layer6.png"></div>-->
			{%  endblock %}

			

{%  block   bodycontent %}
		
		<div id="background2">
		
			<div id="Layer1copy">
			<div id="Layer15"></div>
			<div id="PregnanciesConfirmed"><a href='/dashboards/{{ nav.link("pregnancy") }}'>Pregnancies Confirmed</a></div>
			</div>
			<div id="ExpectedDeliveries"><a href='/dashboards/{{ nav.link("delivery") }}'> Deliveries</a></div>
			
		
		<!-- preg -->
			<div id="ccmvcmr"><img src="{{ static_path }}/images/delivery/ccmvcmr.png"></div>
			<div id="motherpic"><img src="{{ static_path }}/images/delivery/motherpic.png"></div>
			<div id="ExpectedDeliveries98">
			 Deliveries:
			</div>
			<div id="layer_98_1">
			<a href="{{ nav.link("/tables/delivery") }}">{{  display.expected|neat_numbers }}</a>
			</div>
			<div class="deeper">
			<div class="triangle-border top" id="here_table">
			</div>
			</div>
			
			
			<div id="UnknownDeliveries23">
			Expected Deliveries:
			</div>
			
			<div id="unreported">
			Unreported Deliveries: 
			</div>
			
			
			<div id="layer_23_0">
		<!-- {{  display.unknowns|neat_numbers }}-->
			</div>
			<div class="deeper1">
			<div class="triangle-border1 top" id="here_table1">
			</div>
			</div>
			
			
		<!-- location -->
			
			<div id="DeliveryLocations">
			Delivery Locations:
			</div>
			{%  for nom, loc in [('home', 'home'), ('Clinic', 'clinic'), ('Hospital', 'hospital'), ('Route', 'enroute')] %}
			<div id="{{ nom }}">
			{{ display.locations[loc]|neat_numbers }}
			</div>
			{%  endfor  %}
			
			
			<div id="Hospital1"><img src="{{ static_path }}/images/delivery/Hospital.png"></div>
			<div id="home1"><img src="{{ static_path }}/images/delivery/home.png"></div>
			<div id="OnRoute"><img src="{{ static_path }}/images/delivery/OnRoute.png"></div>
			<div id="clinic"><img src="{{ static_path }}/images/delivery/clinic.png"></div>
			
					
</div>
{%  endblock  %}