{%  extends "novabase.html" %}

{% block title %}
<title>Delivery</title>	
{% endblock  %}


{% block scripts %}
<link href="{{ static_path }}/css/delivery/styles.css" rel="stylesheet" type="text/css">
    
{% endblock %}


			{% block tab %}
			<div id="Layer1copy"></div>
			<div id="Layer15"><img src="{{ static_path }}/images/pregnancy/Layer1.png"></div>
			<div id="PregnanciesConfirmed">
			<a href='/dashboards/{{ nav.link("Pregnancy") }}'>Pregnancies Confirmed</a></div>
			<div id="ExpectedDeliveries">Expected Deliveries</div>
			{% endblock %}

{%  block   bodycontent %}
		
		<div id="background2">
		
		<!-- preg -->
			<div id="ccmvcmr"><img src="{{ static_path }}/images/delivery/ccmvcmr.png"></div>
			<div id="motherpic"><img src="{{ static_path }}/images/delivery/motherpic.png"></div>
			<div id="ExpectedDeliveries98">
			Expected Deliveries:
			</div>
			<div id="layer_98_1">
			{{  display.expected|neat_numbers }}
			</div>
			<div class="deeper">
			<div class="triangle-border top" id="here_table">
			</div>
			</div>
			
			
			<div id="UnknownDeliveries23">
			Unknown Deliveries:
			</div>
			<div id="layer_23_0">
			{{  display.unknowns|neat_numbers }}
			</div>
			<div class="deeper1">
			<div class="triangle-border1 top" id="here_table1">
			</div>
			</div>
			
			
		<!-- location -->
			
			<div id="DeliveryLocations">
			Delivery Locations:
			</div>
			{%  for nom, loc in [('home', 'home'), ('Clinic', 'clinic'), ('Hospital', 'hospital'), ('Route', 'enroute')] %}
			<div id="{{ nom }}">
			{{ display.locations[loc]|neat_numbers }}
			</div>
			{%  endfor  %}
			
			
			<div id="Hospital1"><img src="{{ static_path }}/images/delivery/Hospital.png"></div>
			<div id="home1"><img src="{{ static_path }}/images/delivery/home.png"></div>
			<div id="OnRoute"><img src="{{ static_path }}/images/delivery/OnRoute.png"></div>
			<div id="clinic"><img src="{{ static_path }}/images/delivery/clinic.png"></div>
			
			
			
			<!-- weight -->
			<div id="ccmvcmrcopy"><img src="{{ static_path }}/images/delivery/ccmvcmrcopy.png"></div>
			
		
			<div id="layer_2315">
			Less than 45 Kgs<br>
			<strong>{{ display.thins|neat_numbers }}</strong>{{  "%.2f" % display.thinpc}}%
			</div>
		
			<div id="layer_11477">
			45 - 65 kgs  <br>
			<strong>{{ display.midweight|neat_numbers }}</strong><br>
			{{  "%.2f" % display.midpc}}%
			</div>
			
			<div id="layer_188">
			More than 65 Kgs<br><br>
			<strong>{{ display.fats|neat_numbers }}</strong>{{  "%.2f" % display.fatpc}}%
			</div>
			
			
			<div id="PregnanyMotherWeight">
			Pregnant Mothers' Weight
			</div>
			
			<div id="MothersWieghtismonit">
			<strong>Mothers' Weight</strong> is monitored by community health workers
			and community centers nationally to keep track of mothers' nutrition statuses 
			</div>
			
			
			
		
			<!-- ANC -->
			<div id="ccmvcmrcopy2"><img src="{{ static_path }}/images/delivery/ccmvcmrcopy2.png"></div>
			<div id="Layer4"><img src="{{ static_path }}/images/delivery/Layer4.png"></div>
			<div id="ANCVISIT">
			ANC VISITS
			</div>
			<div id="Layer5"><img src="{{ static_path }}/images/delivery/Layer5.png"></div>
			<div id="ANC443">
			ANC 4
			</div>
			<div id="anc4number">
			{{display.ancs[3].total}}
			</div>
			
			<div id="Layer6"><img src="{{ static_path }}/images/delivery/Layer6.png"></div>
			<div id="ANC369">
			ANC 3
			</div>
			<div id="anc3number">
			{{display.ancs[2].total}}
			</div>
			<div id="Layer7"><img src="{{ static_path }}/images/delivery/Layer7.png"></div>
			<div id="ANC267">
			ANC 2
			</div>
			<div id="anc2number">
			{{display.ancs[1].total}}
			</div>
			<div id="Layer8"><img src="{{ static_path }}/images/delivery/Layer8.png"></div>
			<div id="ANC198">
			ANC 1
			</div>
			<div id="anc1number">
			{{ display.ancs[0].total }}
			</div>
			<div id="Layer9"><img src="{{ static_path }}/images/delivery/Layer9.png"></div>
			<div id="ANCATTENDANCE">
			ANC ATTENDANCE
			</div>
			
			<div id="layer_74">
			4 out of 4: <strong>{{ display.allanc }}</strong> {{ display.allancpc }}%
			</div>
			<div id="ANC1">
			ANC 1: <strong>{{ "%.2f" %  display.ancs[0].rpc}}%</strong> 
			</div>
			<div id="ANC2">
			ANC 2: <strong>{{ "%.2f" %  display.ancs[1].rpc}}%</strong> 
			</div>
			<div id="ANC3">
			ANC 3: <strong>{{ "%.2f" %  display.ancs[2].rpc}}%</strong>
			</div>
			<div id="ANC4">
			ANC 4: <strong>{{ "%.2f" %  display.ancs[3].rpc}}%</strong> 
			</div>
				
</div>
{%  endblock  %}