<!DOCTYPE html>
<html>
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	{% block title %}
		
	{% endblock %}

	<link href="{{ static_path }}/css/base/styles.css" rel="stylesheet" type="text/css">
	<link href="{{ static_path }}/css/base/menu.css" rel="stylesheet" type="text/css">
    <script src="{{ static_path }}/js/jquery-1.11.1.js"></script>
    <script src="{{ static_path }}/js/jqui/jquery-ui.js"></script>
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css" />
	 <script src="{{  static_path }}/js/library/clientside.js"></script>
	 <script src="{{  static_path }}/js/bgStretch.js"></script>
	 <script src="{{ static_path }}/js/base/filterDate.js" type="text/javascript"></script>
	<script>
			$(document).ready(function(){
				$('#bgStretch')
					.bgStretch({
						align:'leftTop'
				})
			});
		</script>
	{% block scripts %}

    <script src="{{ static_path }}/js/highcharts.js"></script>
    <script src="{{ static_path }}/js/graphs.js"></script>
    {% endblock %}
    
	</head>
	<body>
	 <div id="Layer18copy8"></div>
      <div id="Layer19copy8"></div>
	<div id="Layer1copy_2"></div>
	<div id="menubackground"></div>
	<div id="filterback"></div>
	
		<div id="wrap">
		<!-- top and Language -->
     		<div id="ENGLISH"><a href="">ENGLISH</a></div>
			<div id="FRENCH"><a href="">FRENCH</a></div>
			<div id="KINYARWANDA"><a href="">KINYARWANDA</a></div>
			<!--  -->
		
		<!-- banner -->
			
			<div id="topuniceflogo"><img src="{{ static_path }}/images/pregnancy/Layer5.png"></div>
			{% block banner  %}
			
			{% endblock  %}
			<div id="toprapidsmslogo"><img src="{{ static_path }}/images/pregnancy/Layer7.png"></div>
			<!--  --> 
		
			<!-- menu -->
			
			<!-- <div id="menulines"><img src="{{ static_path }}/images/pregnancy/Layer1copy18.png"></div>
		 <!--   <div id="PregnanciesNewBornCh"><img src="{{ static_path }}/images/pregnancy/PregnanciesNewBornCh.png"></div>-->
			<!-- <div class="menu">
			<div id="pregnancy"><a href="/dashboards/pregnancy">Pregnancy  |</a></div>
			<div id="anc"><a href="/dashboards/anc">ANC  |</a></div>
			<div id="birthreport"><a href="/dashboards/birthreport">Birth Report |</a></div>
			<div id="vaccination"><a href="/dashboards/vaccination">Vaccination |</a></div>
			<div id="childhealth"><a href="/dashboards/childhealth">Child Health |</a></div>
			<div id="nutrition"><a href="/dashboards/nutrition">Nutrition |</a></div>
			<div id="redalert"><a href="/dashboards/redalert">Red Alerts</a></div>
			</div>
			 -->
			 <div id='cssmenu'>
<ul>

   <li class="{%  if  ref == 'pregnancy' %} active{%  endif %}"><a href='/dashboards/pregnancy'><span>Pregnancy</span></a></li>
   <li class="{%  if  ref == 'anc' %} active{%  endif %}"><a href='/dashboards/anc'><span>ANC</span></a></li>
   <li class="{%  if  ref == 'brithreport' %} active{%  endif %}"><a href='/dashboards/birthreport'><span>Birth Report</span></a></li>
   <li class="{%  if  ref == 'vaccination' %} active{%  endif %}"><a href='/dashboards/vaccination'><span>Vaccination</span></a></li>
   <li class="{%  if  ref == 'nutrition' %} active{%  endif %}"><a href='/dashboards/nutrition'><span>Nutrition</span></a></li>
   <li class="{%  if  ref == 'childhealth' %} active{%  endif %}"><a href='/dashboards/childhealth'><span>Child Health</span></a></li>
   <li class="{%  if  ref == 'ccm' %} active{%  endif %}"><a href='/dashboards/ccm'><span>CCM</span></a></li>
   <li class="{%  if  ref == 'pnc' %} active{%  endif %}"><a href='/dashboards/pnc'><span>PNC</span></a></li>
   <li class="{%  if  ref == 'redalert' %} active{%  endif %}"><a href='/dashboards/redalert'><span>Red Alert</span></a></li>
   <li class='last'><a href='/dashboards/death'><span>Death Report</span></a></li>
</ul>
</div>
			
			
			<!--  -->	
			
			
			<!-- filter -->
			<form>
			<div id="locations">
			
			</div>
			<div id="locationpicture"><img src="{{ static_path }}/images/pregnancy/Layer13.png"></div>
			<div id="todate">
			<input value="{{  args.get('finish', '')  }}" class="activedate" type="date" name="finish" style="border: 1px #000;border-radius:10px;font-size:16px;" /></input>
			</div>
			<div id="fromdate">
			<input  value="{{  args.get('start', '')  }}" class="activedate" type="date" name="start" style="border: 1px #000;border-radius:10px;font-size:16px;" /></input>
			</div>
			<div id="From">From:</div>
			<div id="calenderpicture"><img src="{{ static_path }}/images/pregnancy/Layer15.png"></div>
			<div id="To">To:</div>
			<div id="submit">
			<input type="submit" value="Apply Filter">
			</div>
			</form>
			<!--  -->
			
			
		{% block tab  %} {%  endblock  %}
		</div>
			
			<div id="bgStretch"><img src="{{ static_path }}/images/pregnancy/Background.png" alt=""></div>
      {%  block bodycontent %}{%  endblock  %}
			<!-- footer -->
			<div id="footer">
			<div id="footerblueline"><img src="{{ static_path }}/images/pregnancy/Layer16.png"></div>
			<div id="ContactUsReachouttou">
			<strong>Contact Us</strong>
			<br/>Reach out to us if you have any 
			questions or queries regarding 
			information on rapid SMS 
			contact us using the information
			below:
			<br><br>
			+250 78123456<br>
			+250 73123456
			<br><br>
			info@rapidsms.gov.rw
			rapidsms@unicef.com
			</div>
			<div id="FollowusonSocialNetw">
			<strong>Follow us</strong>
			<br></>Follow us on our soical networks and comment, interact and socailise with our community
			</div>
			<div id="social"><img src="{{ static_path }}/images/pregnancy/Layer17.png"></div>
			<div id="uniceflogo"><img src="{{ static_path }}/images/pregnancy/Layer18.png"></div>
			<div id="rapidsmsfooterlogo"><img src="{{ static_path }}/images/pregnancy/Layer19.png"></div>
			<div id="ministrylogo"><img src="{{ static_path }}/images/pregnancy/Layer20.png"></div>
			<!--  -->
		</div>	
		
		
 </body>
 </html>
