{%  extends base_template %}

{% block title %}
<title>Pregnancies Confirmed</title>	
{% endblock  %}


           {% block banner %}
			<div id="bannertext">
			Indication the <strong>Progress of Mothers</strong> after <strong>Child Birth</strong>
			</div>
			<div id="bannericon"><img src="{{ static_path }}/images/pnc/pncicon1.png"></div>
			{%  endblock %}


{% block scripts %}
	<link href="{{ static_path }}/css/pnc/styles.css" rel="stylesheet" type="text/css">
	
{% endblock %}
{%  block   bodycontent %}

         
     <div id="background2">
     <div id="tabular">
		<table>
<tr><td>id</td><td>Location</td><td>Date Confirmed</td><td>Wieght</td><td>Height</td><td>Gravidity</td><td>Parity</td></tr>
<tr><td>564354353454354</td><td>kigali</td><td>12/05/2004</td><td>90</td><td>123</td><td>2</td><td>1</td></tr>
<tr><td>564354353454354</td><td>kigali</td><td>12/05/2004</td><td>90</td><td>123</td><td>2</td><td>1</td></tr>
<tr><td>564354353454354</td><td>kigali</td><td>12/05/2004</td><td>90</td><td>123</td><td>2</td><td>1</td></tr>
<tr><td>564354353454354</td><td>kigali</td><td>12/05/2004</td><td>90</td><td>123</td><td>2</td><td>1</td></tr>
<tr><td>564354353454354</td><td>kigali</td><td>12/05/2004</td><td>90</td><td>123</td><td>2</td><td>1</td></tr>
<tr><td>564354353454354</td><td>kigali</td><td>12/05/2004</td><td>90</td><td>123</td><td>2</td><td>1</td></tr>
</table>
</div>
  <div id="graphic">
  
  </div>
		</div>
	</div>
</body>
 </html>
 {% endblock  %}