{%  extends "novabase.html" %}
{% set dat = display.nat[0] %}

{% block title %}
<title>Mothers</title>	
{% endblock  %}


{% block scripts %}
<link href="{{ static_path }}/css/reporters/styles.css" rel="stylesheet" type="text/css">

{% endblock %}

			{% block banner %}
			<div id="bannertext">
			<strong>Preventing</strong> the deaths of <strong>Pregnant Mothers</strong> and <strong>New Borns</strong> &amp; Improving <strong>Child Nutrition</strong>
			</div>
			<!-- <div id="bannericon"><img src="{{ static_path }}/images/pregnancy/Layer6.png"></div>-->
			{%  endblock %}

			


{%  block   bodycontent %}
		<div id="background2">
			
		
			
			
			<div id="pregnancies"><img src="{{ static_path }}/images/phonepic.png" style="max-width:100px;"></div>
			<div id="Pregnanciesconfirmed">
			Total Reports Sent:</div>
			<div id="Pregnanciesconfirmednumber">
			{{  display.reptot|neat_numbers  }}
			</div>
			<div id="Pregnanciesconfirmed_0">
			Reporters
			</div>
			<div id="layer_150" class="goodnum">
             <a href="{{ nav.link("/tables/pregnancy") }}">{{  display.total|neat_numbers }} </a>
			</div>
		
					</div>
			      {%  endblock  %}

