{%  extends "novabase.html" %}

{% block title %}
<title>Vaccination</title>	
{% endblock  %}


           {% block banner %}
			<div id="bannertext">
			<strong>Healthy Beginnings</strong> for children under <strong>2 years</strong> buliding <strong>strong foundations</strong>
			</div>
			<div id="bannericon"><img src="{{ static_path }}/images/vaccination/Layer1.png"></div>
			{%  endblock %}


{% block scripts %}
	<link href="{{ static_path }}/css/vaccination/styles.css" rel="stylesheet" type="text/css">
	<link href="{{ static_path }}/css/vaccination/meter.css" rel="stylesheet" type="text/css">
    <script src="{{ static_path }}/js/vaccination/highcharts.js"></script>
    <script src="{{ static_path }}/js/vaccination/graph.js"></script>
    <script src="{{ static_path }}/js/vaccination/donuts.js"></script>
{% endblock %}
{%  block   bodycontent %}
			<div id="background2">
			
			
			<!--  -->
			<div id="ccmvcmrcopy2"><img src="{{ static_path }}/images/vaccination/ccmvcmrcopy2.png"></div>
			<div id="Newbornsarevaccinate">
			<strong>New Borns</strong> are vacinated a total of 6 times, from birth to 2 years of age.
			</div>
			<div id="Immunisaion"><img src="{{ static_path }}/images/vaccination/Immunisaion.png"></div>
			<div id="Immunisationdroprate">
			Immunisation drop down rate for V1 to V3:
			
			</div>
			<div id="layer_34">{{ "%.2f" % (display.vaccs[0].rpc - display.vaccs[2].rpc) }}%</div>
			<div id="Vaccination">Vaccination:</div>
			<div id="layer_700"></div>
			<!--  -->
			<div id="ccmvcmrcopy3"><img src="{{ static_path }}/images/vaccination/ccmvcmrcopy3.png"></div>
			<div id="v1">{{ display.vaccs[0].value }}<br>{{ "%.0f" %  display.vaccs[0].rpc }}%</div>
			<div id="v2">{{ display.vaccs[1].value }}<br>{{ "%.0f" %  display.vaccs[1].rpc }}%</div>
			<div id="v3">{{ display.vaccs[2].value }}<br>{{ "%.0f" %  display.vaccs[2].rpc }}%</div>
			<div id="v4">{{ display.vaccs[3].value }}<br>{{ "%.0f" %  display.vaccs[3].rpc }}%</div>
			<div id="v5">{{ display.vaccs[4].value }}<br>{{ "%.0f" %  display.vaccs[4].rpc }}%</div>
			<div id="v6">{{ display.vaccs[5].value }}<br>{{ "%.0f" %  display.vaccs[5].rpc }}%</div>
			
			<div id="VectorSmartObject"></div>
			<div id="VectorSmartObject_0"></div>
			<div id="VectorSmartObject_1"></div>
			<div id="VectorSmartObject_2"></div>
			<div id="VectorSmartObject_3"></div>
			<div id="VectorSmartObject_4"></div>
			
			
			<div id="brown"><img src="{{ static_path }}/images/vaccination/brown.png"></div>
			<div id="red"><img src="{{ static_path }}/images/vaccination/red.png"></div>
			<div id="green"><img src="{{ static_path }}/images/vaccination/green.png"></div>
			<div id="yellow"><img src="{{ static_path }}/images/vaccination/yellow.png"></div>
			<div id="blue"><img src="{{ static_path }}/images/vaccination/blue.png"></div>
			<div id="purple"><img src="{{ static_path }}/images/vaccination/purple.png"></div>
			<div id="Vaccinationlegend">Number of children that received the following vaccinations</div>
			<div id="InitialVaccination">V1: BCG, PO</div>
			<div id="SecondryVaccination">V2: P1, Penta1, PCV1, </div>
			<div id="ThridVaccination">V3: P2, Penta2, PCV2, Rota2</div>
			<div id="FourthVaccination">V4: P3, Penta3, PCV3, Rota3</div>
			<div id="FifthVaccination">V5: Measles1, Rubella</div>
			<div id="SixthVaccination">V6: Measle2</div>
			<!--  -->
			<div id="ccmvcmrcopy4"><img src="{{ static_path }}/images/vaccination/ccmvcmrcopy4.png"></div>
			<div id="complete">Vaccine complete: <a>{{  display.fully|neat_numbers  }}</a></div>
			<div id="incomplete">Vaccine incomplete: <a>{{  display.partly|neat_numbers  }}</a></div>
			<div id="unimmunized">Unimmunized children: <a>{{ display.none }}</a></div>
			<!--  -->
			<div id="DropOutFrom2ndto6thV">
			Drop Out from 2nd to 6th Vaccination
			</div>
			<div id="Layer14" class="meter orange"><span style="width: {{ display.vaccs[1:][0].dpc }}%"></span>
			<div id="layer_76">{{ display.vaccs[1:][0].diff }}</div>
			</div>
			<div id="Layer1copy5"class="meter orange"><span style="width: {{ display.vaccs[1:][1].dpc }}%"></span>
			<div id="layer_84">{{ display.vaccs[1:][1].diff }}</div>
			
			</div>
			<div id="Layer1copy_0"class="meter orange"><span style="width: {{ display.vaccs[1:][2].dpc }}%"></span>
			<div id="layer_79">{{ display.vaccs[1:][2].diff }}</div>
			</div>
			<div id="Layer1copy3"class="meter orange"><span style="width: {{ display.vaccs[1:][3].dpc }}%"></span>
			<div id="layer_55">{{ display.vaccs[1:][3].diff }}</div>
			</div>
			<div id="Layer1copy4"class="meter orange"><span style="width: {{ display.vaccs[1:][4].dpc }}%"></span>
			<div id="layer_42">{{ display.vaccs[1:][4].diff }}</div>
			</div>
			
			
			
			
			
			<div id="top">2nd Vaccination</div>
			<div id="top2">3rd Vaccination</div>
			<div id="top3">4th Vaccination</div>
			<div id="top4">5th Vaccination</div>
			<div id="top5">6th Vaccination</div>
			
			
</div>
<script>
$(function () {
    $('#layer_700').highcharts({
        chart: {
            type: 'column'
        },
       
        xAxis: {
            categories: [
                '',
            ]
        },
        yAxis: {
            min: 0,
            title: {
                text: '<span style="font-size:10px">Percent of Vaccination</span>'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:5px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f} %</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: 'Fully Vaccinated',
            data: [{{  "%.2f" % display.fullypc  }}]
		},{
            name: 'Not Fully Vaccinated',
            data: [{{  "%.2f" % display.partlypc  }}]
		}]
    });
});

</script>
<script>
$(function()
		{
			var a = document.getElementById('VectorSmartObject');
			var b = document.getElementById('VectorSmartObject_0');
			var c = document.getElementById('VectorSmartObject_1');
			var d = document.getElementById('VectorSmartObject_2');
			var e = document.getElementById('VectorSmartObject_3');
			var f = document.getElementById('VectorSmartObject_4');
			
			//alert(a);
			//if(!c) return;
			a.appendChild( firstvaccine({{ display.vaccs[0].rpc }}, 110 ) );
			b.appendChild( secondvaccine({{ display.vaccs[1].rpc }}, 110 ) );
			c.appendChild( thridvaccine({{ display.vaccs[2].rpc }}, 110 ) );
			d.appendChild( fourthvaccine({{ display.vaccs[3].rpc }}, 110 ) );
			e.appendChild( fifthvaccine({{ display.vaccs[4].rpc }}, 110 ) );
			f.appendChild( sixthvaccine({{ display.vaccs[5].rpc }}, 110 ) );
			
		});
</script>
{%  endblock  %}