
body {
	margin: 0;
	padding: 0;
 }
 a{
	color: #000;
 	text-decoration:none;
 	cursor: pointer;
 }
 a:hover{
	color:#fff;
 }


 #wrap 
{ 
	
    left: 0px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 1000px;
	 height: 300px; 
	 overflow: hidden;
}

 #Background 
{ 
	background: url(../../images/pregnancy/Background.png) repeat-x;
	 left: 0px; 
	 top: 0px; 
	 position: absolute; 
	 width: 100%;
	 
	 z-index:-1;
} 







 
/************************************/


 #Layer4 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: absolute; 
	 width: 1000px;
	 height: 196px;
	 z-index:65;
} 

 #Layer1copy_2 
{ 
	background: url(../../images/pregnancy/banner_background.png) repeat-x;
	 left: 0px; 
	 top: 0px; 
	 position: absolute; 
	 width: 100%;
	 height: 190px;
	 z-index:8;
} 

 #topuniceflogo 
{ 
	 left: 242px; 
	 top: 156px; 
	 position: absolute; 
	 width: 119px;
	 height: 28px;
	 z-index:67;
} 

 #bannertext 
{ 
	 left: 441px; 
	 top: 83px; 
	 position: absolute; 
	 width: 376px;
	 height: 78px;
	 z-index:68;
	font-family: 'Open Sans', sans-serif;
	font-weight:lighter;
	font-size: 20px;
} 

 #bannericon 
{ 
	 left: 850px; 
	 top: 60px; 
	 position: absolute; 
	 width: 116px;
	 height: 119px;
	 z-index:69;
}
 #toprapidsmslogo 
{ 
	 left: 239px; 
	 top: 75px; 
	 position: absolute; 
	 width: 119px;
	 height: 55px;
	 z-index:75;
}



/************************************/

 #Layer18copy8 
{ 
	background: url(../../images/pregnancy/Layer18copy8.png) repeat-x;
	 left: 0px; 
	 top: 0px; 
	 position: absolute; 
	 width: 100%;
	 height: 3px;
	 z-index:70;
} 

 #Layer19copy8 
{ 
	background: url(../../images/pregnancy/Layer19copy8.png) repeat-x;
	 left: 0px; 
	 top: 3px; 
	 position: absolute; 
	 width: 100%;
	 height: 25px;
	 z-index:9;
} 

 #ENGLISH 
{ 
	 left: 792px; 
	 top: 12px; 
	 position: absolute; 
	 width: 36px;
	 height: 7px;
	 z-index:72;
	font-family: 'Open Sans', sans-serif;
	font-weight:normal;
	font-size: 10px;
} 

 #FRENCH 
{ 
	 left: 940px; 
	 top: 12px; 
	 position: absolute; 
	 width: 34px;
	 height: 7px;
	 z-index:73;
	font-family: 'Open Sans', sans-serif;
	font-weight:normal;
	font-size: 10px;
} 

 #KINYARWANDA 
{ 
	 left: 852px; 
	 top: 12px; 
	 position: absolute; 
	 width: 66px;
	 height: 7px;
	 z-index:74;
	font-family: 'Open Sans', sans-serif;
	font-weight:normal;
	font-size: 10px;
} 

 

 #Layer1copy17 
{ 
	 left: 136px; 
	 top: 26px; 
	 position: absolute; 
	 width: 820px;
	 height: 31px;
	 z-index:76;
} 


/**************************************************/
.menu{
	
	font-family: 'Open Sans', sans-serif;
	font-weight: ligher;
	font-size: 18px;
	
}


 #menubackground 
{ 
	background: url(../../images/base/menubackground.png) repeat-x;
	border-radius:5px;
	 left: 128px; 
	 top: 24px; 
	 position: absolute; 
	 width: 816px;
	 height: 30px;
	 z-index:77;
} 

 #menulines 
{ 
	 left: 232px; 
	 top: 33px; 
	 position: absolute; 
	 width: 626px;
	 height: 17px;
	 z-index:78;
} 

 #PregnanciesNewBornCh 
{ 
	 left: 143px; 
	 top: 35px; 
	 position: absolute; 
	 width: 788px;
	 height: 14px;
	 z-index:79;
} 

 #pregnancy 
{ 
	 left: 130px; 
	 top: 26px; 
	 position: absolute; 
	 width: 106px;
	 height: 31px;
	 z-index:86;
	
} 

 #nutrition 
{ 
	 left: 521px; 
	 top: 26px; 
	 position: absolute; 
	 width: 118px;
	 height: 31px;
	 z-index:87;
	
} 

 #redalert 
{ 
	 left: 730px; 
	 top: 26px; 
	 position: absolute; 
	 width: 95px;
	 height: 31px;
	 z-index:88;
	
} 

 #childhealth 
{ 
	 left: 610px; 
	 top: 26px; 
	 position: absolute; 
	 width: 206px;
	 height: 31px;
	 z-index:89;
	
} 

 #vaccination 
{ 
	 left: 410px; 
	 top: 26px; 
	 position: absolute; 
	 width: 120px;
	 height: 31px;
	 z-index:90;
	
} 

 #birthreport 
{ 
	 left: 290px; 
	 top: 26px; 
	 position: absolute; 
	 width: 120px;
	 height: 31px;
	 z-index:91;
	
} 

 #anc 
{ 
	 left: 237px; 
	 top: 26px; 
	 position: absolute; 
	 width: 55px;
	 height: 31px;
	 z-index:92;
	;
}
 #pregnancy:hover
{ 
	color: #ffffff;
	opacity: 0.7;
	
	cursor: pointer;
}
 #nutrition:hover
{ 
	color: #ffffff;
	opacity: 0.7;
	cursor: pointer;
}
 #redalert:hover
{ 
	color: #ffffff;
	opacity: 0.7;
	cursor: pointer;
}
 #childhealth:hover
{ 
	color: #ffffff;
	opacity: 0.7;
	
	cursor: pointer;
}
 #vaccination:hover
{ 
	color: #ffffff;
	opacity: 0.7;
	
	cursor: pointer;
}
 #birthreport:hover
{ 
	color: #ffffff;
	opacity: 0.7;
	
	cursor: pointer;
}
 #anc:hover
{ 
	color: #ffffff;
	opacity: 0.7;
	
	cursor: pointer;
}



/*************************************/
 #filterback 
{ 
	background: url(../../images/pregnancy/Layer10.png) repeat-x;
	 left: 0px; 
	 top: 189px; 
	 position: absolute; 
	 width: 100%;
	 height: 62px;
	 z-index:93;
} 

 #locations 
{ 
	 left: 755px; 
	 top: 211px; 
	 position: absolute; 
	 width: 208px;
	 height: 22px;
	 z-index:94;
} 



 #locationpicture 
{ 
	 left: 732px; 
	 top: 210px; 
	 position: absolute; 
	 width: 15px;
	 height: 23px;
	 z-index:97;
} 

 #todate 
{ 
	 left: 520px; 
	 top: 209px; 
	 position: absolute; 
	 width: 198px;
	 height: 24px;
	 z-index:98;
} 

 #fromdate 
{ 
	 left: 281px; 
	 top: 210px; 
	 position: absolute; 
	 width: 210px;
	 height: 23px;
	 z-index:99;
} 

 #From 
{ 
	 left: 238px; 
	 top: 212px; 
	 position: absolute; 
	 width: 40px;
	 height: 11px;
	 z-index:100;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
} 

 #calenderpicture 
{ 
	 left: 201px; 
	 top: 208px; 
	 position: absolute; 
	 width: 24px;
	 height: 26px;
	 z-index:101;
} 

 #To 
{ 
	 left: 498px; 
	 top: 210px; 
	 position: absolute; 
	 width: 21px;
	 height: 11px;
	 z-index:102;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
}
 #submit
{ 
	 left: 798px; 
	 top: 200px; 
	 position: absolute; 
	 width: 21px;
	 height: 11px;
	 z-index:102;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
}
#submit input[type=submit] {
	cursor: pointer;
	color: #FFFFFF;
  	border:1px solid #34740e;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 10px 10px 10px 10px;
 	background-color: #5fdcd6;
 	background-image: -webkit-gradient(linear, left top, left bottom, from(#5fdcd6), to(#014b8b));
 	background-image: -webkit-linear-gradient(top, #5fdcd6, #014b8b);
 	background-image: -moz-linear-gradient(top, #5fdcd6, #014b8b);
 	background-image: -ms-linear-gradient(top, #5fdcd6, #014b8b);
 	background-image: -o-linear-gradient(top, #5fdcd6, #014b8b);
 	background-image: linear-gradient(to bottom, #5fdcd6, #014b8b);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#5fdcd6, endColorstr=#014b8b);
}



/***************** FOOTER **********************/
 #footer 
{ 
 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 1000px;
	 height:300px;
	 z-index:2;
	 
}

 #footerblueline 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: absolute; 
	 width: 996px;
	 height: 6px;
	 z-index:4;
} 

 #ContactUsReachouttou 
{ 
	 left: 276px; 
	 top: 51px; 
	 position: absolute; 
	 width: 162px;
	 height: 170px;
	 z-index:4;
	font-family: 'Open Sans', sans-serif;
	font-size: 11px;
	
} 

 #FollowusonSocialNetw 
{ 
	 left: 540px; 
	 top: 59px; 
	 position: absolute; 
	 width: 183px;
	 height: 59px;
	 z-index:4;
	font-family: 'Open Sans', sans-serif;
	font-size: 11px;
}
 #ContactUsReachouttou > strong
{ 
	font-size: 15px;
}
 #FollowusonSocialNetw > strong
{ 
	font-size: 15px;
} 

 #social 
{ 
	 left: 540px; 
	 top: 133px; 
	 position: absolute; 
	 width: 98px;
	 height: 29px;
	 z-index:4;
} 

 #uniceflogo 
{ 
	 left: 513px; 
	 top: 186px; 
	 position: absolute; 
	 width: 118px;
	 height: 29px;
	 z-index:4;
} 

 #rapidsmsfooterlogo 
{ 
	 left: 375px; 
	 top: -21px; 
	 position: absolute; 
	 width: 261px;
	 height: 65px;
	 z-index:4;
} 

 #ministrylogo 
{ 
	 left: 658px; 
	 top: 154px; 
	 position: absolute; 
	 width: 61px;
	 height: 64px;
	 z-index:4;
} 
/***********************************/
 